archive/n8n/backup flows.json
{"createdAt":"2024-05-22T11:59:47.952Z","updatedAt":"2024-05-22T12:36:19.000Z","id":"DVphUhhsI2glrVt2","name":"backup flows","active":true,"nodes":[{"parameters":{},"id":"8587732b-1683-4e53-b47c-dee37c583d5f","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,400]},{"parameters":{"filters":{"tags":"Project Insite 2"}},"id":"977314b3-faf4-4487-ab9b-5380b3d1df58","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[960,400],"credentials":{"n8nApi":{"id":"jPQZSzZ75hPgzpes","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"82532fbe-7a13-40b9-af37-ecfeb16bf008","name":"data","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"980e2074-b51c-40ee-881e-7ccc27ca67fa","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1200,400]},{"parameters":{"operation":"toText","sourceProperty":"data","options":{}},"id":"c3e2217a-1332-4c34-a466-274fb1643937","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1460,400]},{"parameters":{"operation":"write","fileName":"=/home/kian/projects/dean-falconer--project-insite/n8n/{{ $('n8n').item.json[\"name\"] }}.json","options":{}},"id":"5e57f479-90d1-48b0-98da-82843ed29300","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1700,400]},{"parameters":{"command":"rm /home/kian/projects/dean-falconer--project-insite/n8n/* || true"},"id":"12fae467-1d6e-4a6f-a4fd-1543f01d3646","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[760,400]},{"parameters":{"command":"cd /home/kian/projects/dean-falconer--project-insite\ngit add n8n/*\ngit commit -m \"n8n auto save\"\ngit push"},"id":"1a0943fa-73fc-4f83-ba29-1b621f6da4e7","name":"Execute Command1","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1920,400]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"d3fce92d-ec2b-46c6-8216-bc38e2d0f7a0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[560,240]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b03d98fe-6486-449d-a7b6-ad4dfd2b0e62","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}