archive/n8n/orchestrate-v2.json
{"createdAt":"2024-05-21T21:55:07.351Z","updatedAt":"2024-05-23T11:03:55.000Z","id":"0I1RpE9muXVwSN1W","name":"orchestrate-v2","active":false,"nodes":[{"parameters":{"channels":"orchestrate","options":{"jsonParseBody":true,"onlyMessage":false}},"id":"a4dd04cf-be70-40ba-94be-6d3304212f53","name":"Redis Trigger","type":"n8n-nodes-base.redisTrigger","typeVersion":1,"position":[960,300],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"incr","key":"={{ $json.workerKey }}"},"id":"8bdf9f77-2079-4615-82a1-31638fe839d0","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1480,300],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5b1600c2-6e4c-41f1-bec5-7994a5f59441","leftValue":"={{ $json[$('Edit Fields').item.json.workerKey] }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"39365505-1726-460a-bc7d-44958c7d8ed8","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1700,300]},{"parameters":{"assignments":{"assignments":[{"id":"432a3090-8475-4c8a-a3aa-c2bad073ab33","name":"workerKey","value":"=orchestrate:workers:{{ encodeURIComponent($json.message.data.url) }}","type":"string"},{"id":"3049175a-1470-4b87-be65-68dbf356326a","name":"queueKey","value":"=orchestrate:queue:{{ encodeURIComponent($json.message.data.url) }}","type":"string"}]},"options":{}},"id":"bc6bd7f9-8e93-4af1-9af8-e316cab492c1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1180,300]},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.workerKey }}"},"id":"1200ed67-28a0-4497-a5a0-4dff095d2c15","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2380,360],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"pop","list":"={{ $('Edit Fields').item.json.queueKey }}","propertyName":"data","options":{}},"id":"f9494bf1-c1a5-434e-98ba-4cf06d45d9c3","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2040,280],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"bc555260-a01a-4d9c-8b54-b7f976792b8d","name":"worker for this url already exists","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1900,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cbb39df2-6a50-46e1-9055-2753d73b6554","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"80f0da2e-10a0-47f3-8815-dfc98d7cfa9a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2200,280]},{"parameters":{},"id":"7665191a-86de-42c6-85c9-1c8e714950b8","name":"business logic","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2940,380]},{"parameters":{"workflowId":"QrubVVyfGpLHFdg4","mode":"each","options":{"waitForSubWorkflow":true}},"id":"d283c4aa-ba69-4bc4-8a2e-5aa795336172","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3160,380]}],"connections":{"Redis Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"worker for this url already exists","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"business logic","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"business logic":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Redis2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"429d6be3-7054-4b26-ac92-7b720febed33","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}