archive/n8n/service_orchestrate.json
{"createdAt":"2024-05-20T14:40:52.341Z","updatedAt":"2024-05-23T10:25:37.000Z","id":"QrubVVyfGpLHFdg4","name":"service_orchestrate","active":false,"nodes":[{"parameters":{},"id":"d198dab9-79e7-4502-bce3-429a0593ca28","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1660,1840]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $json.progress }}","keyType":"string","options":{}},"id":"90fd6c3d-70a7-465c-89c9-df28ddf91d2e","name":"Redis8","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2920,3080],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const curData = $json.data === null ? {scores: {}, output: {}} : JSON.parse($json.data);\n\nconst newData = $('set progress').item.json.data;\nif (newData.service === \"queryAI\") {\n  curData.output[newData.data.query] = newData.data.aiResult;\n} else if (newData.service === \"lighthouse\") {\n  curData.scores = newData.data;\n}\n\n$input.item.json.data = curData;\n\nlet complete = false;\n\nif (curData.scores.performance !== undefined && curData.output.getReviews !== undefined && curData.output.getCompanyInfo !== undefined && curData.output.getServices !== undefined) {\n  complete = true;\n}\n\n$input.item.json.complete = complete;\n\nreturn $input.item;"},"id":"48785f40-7ef5-48dd-9edd-5ea1a75b5418","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,3080]},{"parameters":{"operation":"set","key":"={{ $('set progress').item.json.progress }}","value":"={{ JSON.stringify($json.data) }}","keyType":"string"},"id":"142de7ff-eeaa-4cb5-952c-0c00c63c6873","name":"Redis9","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3300,3080],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a1815205-92af-470c-8f9a-05f37764c5a8","leftValue":"={{ $json.complete }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5260dcc1-430c-4c64-acc6-cc0bed808ac2","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[3300,3280]},{"parameters":{"operation":"get","propertyName":"data","key":"=cb:{{ encodeURIComponent($('set progress').item.json.data.data.url) }}","keyType":"string","options":{}},"id":"ef565bb9-3e0f-49e9-9e69-7db40a038526","name":"Redis12","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3540,3260],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"ec3b876f-a3b5-4ea5-a1aa-7a7539ce99e9","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5560,1940]},{"parameters":{},"id":"0bcee78d-e917-4bdc-82a4-88abfd265057","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4420,1220]},{"parameters":{},"id":"5b55ec0f-fa69-4430-9591-0be841a84b5f","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3960,3620]},{"parameters":{"assignments":{"assignments":[{"id":"b622de34-1d15-4e91-8f1b-d3814de53e32","name":"callback","value":"={{ $json.data }}","type":"string"},{"id":"c92e6425-61aa-4340-8821-905b6cfc0142","name":"url","value":"={{ $('set progress').item.json.data.data.url }}","type":"string"},{"id":"4c776976-fbb1-432c-ac8b-163752a28920","name":"payload","value":"={{ $('Code').item.json.data }}","type":"object"}]},"options":{}},"id":"456b1643-3777-4216-aad1-d4af36c1f39b","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3760,3260]},{"parameters":{"assignments":{"assignments":[{"id":"e325e372-f458-4fd0-a329-88631e47dfc5","name":"msg","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"e31eca6e-9eee-465f-8585-c319a9654c3c","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3980,3260]},{"parameters":{"operation":"publish","channel":"service:postResults","messageData":"={{ $('Edit Fields10').item.json.msg }}"},"id":"0a09be1f-2a2a-4a96-ae8f-e4eac6ec5c4f","name":"Redis13","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4360,3260],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"push","list":"queue:postResults","messageData":"={{ $json.msg }}"},"id":"a636126a-4f28-46cb-8081-505e0de20fcf","name":"Redis15","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4160,3260],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"ee2dbaf7-aa1e-431d-9c65-82829ca0464a","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2400,2920]},{"parameters":{"operation":"push","list":"queue:fetchHtml","messageData":"={{ $json.msg }}"},"id":"a5a07c27-4380-4e48-b44c-7d31ee062e6a","name":"push queue:fetchHtml","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3440,1120],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"service:fetchHtml","messageData":"={{ $('set msg').item.json.msg }}"},"id":"b3653cd5-4f5d-4864-8584-8bb71e153644","name":"publish service:fetchHtml","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3660,1120],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c179366e-b5ef-455d-9265-9c688bb5eb8f","name":"msg","value":"={{ JSON.stringify({url: $('on newSite').item.json.data.data.url}) }}","type":"string"}]},"options":{}},"id":"89fb91a6-a48a-43ad-8a84-095673a014da","name":"set msg","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3200,1240]},{"parameters":{"operation":"push","list":"queue:lighthouse","messageData":"={{ $json.msg }}"},"id":"e8a0c5bb-001b-4977-97f5-8fae3ae842ba","name":"push queue:lighthouse","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3440,1300],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"service:lighthouse","messageData":"={{ $('set msg').item.json.msg }}"},"id":"ce73f5e5-ef2a-44dc-b15a-a00a994242b6","name":"publish service:lighthouse","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3660,1300],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b8c70c7-8737-4ee5-bd08-2711d5a0fda3","name":"progress","value":"=progress:","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"cca39678-81ce-4f41-bc54-f4a444b60435","name":"set progress","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1880,1840]},{"parameters":{"assignments":{"assignments":[{"id":"c179366e-b5ef-455d-9265-9c688bb5eb8f","name":"url","value":"={{ $json.data.data.url }}","type":"string"},{"id":"72732ffe-e809-404a-9843-0cb4bd201220","name":"txtKey","value":"={{ $json.data.data.cacheKey }}","type":"string"}]},"options":{}},"id":"7032b057-85c3-4c35-afa9-537cfd0f2d26","name":"set url and txtKey","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3020,2660]},{"parameters":{"assignments":{"assignments":[{"id":"8261d435-6a7d-4635-9ec9-68d5c755daea","name":"query","value":"getCompanyInfo","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e2144b07-ab24-43a1-952c-d6ddf9cfa15c","name":"query getCompanyInfo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3200,2500]},{"parameters":{"assignments":{"assignments":[{"id":"8261d435-6a7d-4635-9ec9-68d5c755daea","name":"query","value":"getReviews","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b045a81a-17d5-42f0-89ad-da41bcf17c7e","name":"query getReviews","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3200,2680]},{"parameters":{"assignments":{"assignments":[{"id":"8261d435-6a7d-4635-9ec9-68d5c755daea","name":"query","value":"getServices","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"014e11f8-36c4-424f-9f1d-fe018c8c9c5f","name":"query getServices","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3200,2880]},{"parameters":{"assignments":{"assignments":[{"id":"2db12132-c4f4-4f6a-8df1-c322f800ff29","name":"msg","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"221af123-e6cf-480d-b72f-45b292753f0d","name":"stringify into msg","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3400,2680]},{"parameters":{"operation":"push","list":"queue:queryAI","messageData":"={{ $json.msg }}"},"id":"433fd405-1918-468e-81fa-de15b6470b2f","name":"push queue:queryAI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3580,2680],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"service:queryAI","messageData":"={{ $('stringify into msg').item.json.msg }}"},"id":"fd47bd80-074b-49c7-b413-ba943834e7be","name":"publish service:queryAI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3780,2680],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"log","messageData":"=ORCHESTRATE_UNHANDLED {{ JSON.stringify($json) }}"},"id":"b7f9fa23-73da-431c-ac1b-cd8a9f2bee40","name":"log ORCHESTRATE_UNHANDLED","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2460,2400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.data.service }}","rightValue":"newSite","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"newSite"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e4f28e8a-a5f1-42b7-84a3-1fa21e47f057","leftValue":"={{ $json.data.service }}","rightValue":"fetchHtml","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetchHtml"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9e079a33-af27-496f-b9be-60e63520e367","leftValue":"={{ $json.data.service }}","rightValue":"fetchText","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetchText"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2ef4a02b-7c6d-498a-87ae-2ced6e3cd74d","leftValue":"={{ $json.data.service }}","rightValue":"lighthouse","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lighthouse"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8c5df021-656f-4e2c-ab1c-2187658bb230","leftValue":"={{ $json.data.service }}","rightValue":"queryAI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queryAI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1aec647d-f233-429a-b7e8-4c1b95a6cd2a","leftValue":"={{ $json.data.service }}","rightValue":"postResults","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"postResults"}]},"options":{"fallbackOutput":"extra"}},"id":"b54f3272-ce5c-4bbf-90f0-390bac71ead0","name":"switch on service","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2060,2040]},{"parameters":{},"id":"852fe983-a37a-4823-a42c-782044397138","name":"on newSite","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,1480]},{"parameters":{"operation":"set","key":"={{ $json.progress }}","value":"={{ $json.progressTemplate }}","keyType":"string"},"id":"f0259b5e-4e32-4a1f-8d58-ed49fa8ca5a6","name":"set progress1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2840,1240],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c179366e-b5ef-455d-9265-9c688bb5eb8f","name":"msg","value":"={{ JSON.stringify({url: $json.data.data.url, htmlKey: $json.data.data.cacheKey}) }}","type":"string"}]},"options":{}},"id":"972340d1-9b24-4264-814a-adb8682c8a2a","name":"set msg1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2780,1720]},{"parameters":{"operation":"push","list":"queue:fetchText","messageData":"={{ $json.msg }}"},"id":"fa25b7d0-28f2-4ebe-b895-dd78b48344f7","name":"push queue:fetchText","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3000,1720],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"service:fetchText","messageData":"={{ $('set msg1').item.json.msg }}"},"id":"48877e67-d4e0-43c0-bf9e-d7b5b7e19cbd","name":"publish service:fetchText","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3220,1720],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"017a5930-838d-4289-abd4-afb3307f246e","name":"progressTemplate","value":"={{ JSON.stringify(\n{\n  urls: {\n    [$json.data.data.url]: {\n      html: false,\n      text:false\n    }\n  },\n  callback: $json.data.data.callback,\n  lighthouse: false,\n}\n)}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"49129aac-dd41-4501-9e7f-523abc6f61f6","name":"set progress template","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2460,1480]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"set progress","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Redis9","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis12","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Redis12":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Redis9":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Redis15","type":"main","index":0}]]},"Redis15":{"main":[[{"node":"Redis13","type":"main","index":0}]]},"Redis13":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"push queue:fetchHtml":{"main":[[{"node":"publish service:fetchHtml","type":"main","index":0}]]},"publish service:fetchHtml":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"set msg":{"main":[[{"node":"push queue:fetchHtml","type":"main","index":0},{"node":"push queue:lighthouse","type":"main","index":0}]]},"push queue:lighthouse":{"main":[[{"node":"publish service:lighthouse","type":"main","index":0}]]},"publish service:lighthouse":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"set progress":{"main":[[{"node":"switch on service","type":"main","index":0}]]},"set url and txtKey":{"main":[[{"node":"query getCompanyInfo","type":"main","index":0},{"node":"query getReviews","type":"main","index":0},{"node":"query getServices","type":"main","index":0}]]},"query getCompanyInfo":{"main":[[{"node":"stringify into msg","type":"main","index":0}]]},"query getReviews":{"main":[[{"node":"stringify into msg","type":"main","index":0}]]},"query getServices":{"main":[[{"node":"stringify into msg","type":"main","index":0}]]},"stringify into msg":{"main":[[{"node":"push queue:queryAI","type":"main","index":0}]]},"push queue:queryAI":{"main":[[{"node":"publish service:queryAI","type":"main","index":0}]]},"log ORCHESTRATE_UNHANDLED":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"switch on service":{"main":[[{"node":"on newSite","type":"main","index":0}],[],[],[],[{"node":"log ORCHESTRATE_UNHANDLED","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}],[{"node":"log ORCHESTRATE_UNHANDLED","type":"main","index":0}]]},"on newSite":{"main":[[{"node":"set progress template","type":"main","index":0}]]},"set progress1":{"main":[[{"node":"set msg","type":"main","index":0}]]},"set msg1":{"main":[[{"node":"push queue:fetchText","type":"main","index":0}]]},"push queue:fetchText":{"main":[[{"node":"publish service:fetchText","type":"main","index":0}]]},"set progress template":{"main":[[{"node":"set progress1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d51759b-6c2e-491b-9ed6-0e5b7f428d22","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}