archive/n8n/service:lighthouse.json
{"createdAt":"2024-05-17T16:19:24.569Z","updatedAt":"2024-05-20T15:02:14.000Z","id":"ozVmyBg3Pr3SV1o2","name":"service:lighthouse","active":false,"nodes":[{"parameters":{},"id":"22a2004d-8572-4397-a28b-a11a48b2d05e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1100,1540]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $json.cacheKey }}","keyType":"string","options":{}},"id":"3553da42-c7d8-4648-86eb-7faef346f23a","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1580,1540],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"88f42263-dfd8-4944-b440-62631511b806","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4944d55b-99ea-4729-b933-46a71708b42e","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,1540]},{"parameters":{"assignments":{"assignments":[{"id":"ae9fc367-1d01-4dca-a8d9-67f8a1d5d662","name":"performance","value":"={{ $json.lighthouseResult.categories.performance.score }}","type":"number"},{"id":"9c534191-babf-4525-9c38-a248ffcab071","name":"accessibility","value":"={{ $json.lighthouseResult.categories.accessibility.score }}","type":"number"},{"id":"1e675b1f-fbb4-44ca-8771-2629c803203b","name":"bestPractices","value":"={{ $json.lighthouseResult.categories['best-practices'].score }}","type":"number"},{"id":"19399f19-7a2e-4671-8472-94f42531d273","name":"seo","value":"={{ $json.lighthouseResult.categories.seo.score }}","type":"number"}]},"options":{}},"id":"983a8684-da29-48a1-8c09-56d00a153f5d","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2840,1680]},{"parameters":{"assignments":{"assignments":[{"id":"58c6b014-b9a0-42eb-b67c-47ad013e0d34","name":"cacheKey","value":"=cache:lighthouse:{{ encodeURIComponent($json.data.url) }}","type":"string"},{"id":"ea39551e-5050-41dc-8fcc-2458914ef8c0","name":"url","value":"={{ $json.data.url }}","type":"string"}]},"options":{}},"id":"8ed3f623-14d0-4e75-86dd-92bf0ee48dba","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1360,1540]},{"parameters":{"assignments":{"assignments":[{"id":"c34bba15-ec6a-4b65-9984-ff0e0d47b3a6","name":"url","value":"={{ $('Edit Fields5').item.json.url }}","type":"string"}]},"options":{}},"id":"e1e8ed63-a42f-4f45-bc32-db47b3918bca","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2040,1620]},{"parameters":{"url":"=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.url)}}&strategy=mobile&category=BEST_PRACTICES&category=PERFORMANCE&category=ACCESSIBILITY&category=SEO","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"d8a63837-e12c-41a1-a705-7e47f438a6f4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2260,1620],"credentials":{"httpQueryAuth":{"id":"9FPd5m5OMubFw6gW","name":"gCloud api key default-gas-project"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"681c9948-8031-4343-a01d-715fa3d0c2f6","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9f7141b5-6f4c-4d42-9f28-8fd400c658ee","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2480,1620]},{"parameters":{"operation":"set","key":"={{ $('Edit Fields5').item.json.cacheKey }}","value":"={{ $json.data }}","keyType":"string"},"id":"d2c94c94-c7f6-4c32-9e4f-a6e50797006c","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3320,1620],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ae9fc367-1d01-4dca-a8d9-67f8a1d5d662","name":"performance","value":"=0","type":"number"},{"id":"9c534191-babf-4525-9c38-a248ffcab071","name":"accessibility","value":"=0","type":"number"},{"id":"1e675b1f-fbb4-44ca-8771-2629c803203b","name":"bestPractices","value":"=0","type":"number"},{"id":"19399f19-7a2e-4671-8472-94f42531d273","name":"seo","value":"=0","type":"number"}]},"options":{}},"id":"cf5cfacf-a6ef-49b7-a503-450476f81720","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2840,1520]},{"parameters":{"assignments":{"assignments":[{"id":"6c57f788-78fe-4cf3-ad04-653f244e7b6d","name":"data","value":"={{ JSON.stringify({performance: $json.performance, accessibility: $json.accessibility, bestPractices: $json.bestPractices, seo: $json.seo\n}) }}","type":"string"}]},"options":{}},"id":"036673f6-894c-405b-93a8-72acf04f3d08","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3080,1620]},{"parameters":{"assignments":{"assignments":[{"id":"d4917423-2913-4355-8a7c-384d2476f9f9","name":"data","value":"={{ JSON.parse($json.data) }}","type":"object"}]},"options":{}},"id":"1d264a83-bfd6-4536-bc79-7ed22263ddfc","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3640,1140]},{"parameters":{"assignments":{"assignments":[{"id":"af4fbe2f-70c8-4f7c-8961-0975fc30a3b2","name":"url","value":"={{ $('Edit Fields5').item.json.url }}","type":"string"},{"id":"94ca3b11-2f9e-4f24-875c-69d1ac818138","name":"accessibility","value":"={{ $json.data.accessibility }}","type":"string"},{"id":"b6e87be3-36fc-483c-90f0-5a96ff54c48a","name":"seo","value":"={{ $json.data.seo }}","type":"string"},{"id":"2c9bf278-7227-47ef-8aed-672e2b3f350d","name":"bestPractices","value":"={{ $json.data.bestPractices }}","type":"string"},{"id":"4ea175d0-816f-408d-88bf-e9f393287a1e","name":"performance","value":"={{ $json.data.performance }}","type":"string"}]},"options":{}},"id":"2b793633-46ae-4f7c-abdd-b5b941a1f726","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3860,1140]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb76aa71-dd61-432b-ad2c-ef489483093e","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}