archive/n8n/service:postResults.json
{"createdAt":"2024-05-21T22:33:19.824Z","updatedAt":"2024-05-21T22:43:33.000Z","id":"Q1pRJNl02emCzfQm","name":"service:postResults","active":false,"nodes":[{"parameters":{"operation":"publish","channel":"log","messageData":"=RESULTS POSTED TO {{ $json.data.callback }}"},"id":"9daf4fab-67e2-4e6f-92db-61478bb7d437","name":"Redis13","type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,740],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $json.data.callback }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({url: $json.data.url, data: $json.data.payload}) }}","options":{}},"id":"78f59f11-bbf5-4d76-81c3-d0cf297d2d82","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,560]},{"parameters":{},"id":"5da86334-00ce-433e-bf8c-cadd8cfbaac8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[560,560]},{"parameters":{},"id":"389b089c-e2b0-47b9-8048-77d39ab40c0a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1100,560]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Redis13","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis13":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3eba3b28-a6e3-4ce6-81f4-285309d9d03c","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}