archive/n8n/tidy output json.json
{"createdAt":"2024-05-21T00:38:24.349Z","updatedAt":"2024-05-21T00:43:58.000Z","id":"juzLuAofmQpOFjYt","name":"tidy output json","active":false,"nodes":[{"parameters":{},"id":"1ef216b0-90b6-4568-b178-ec9c43722536","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[820,400]},{"parameters":{"assignments":{"assignments":[{"id":"b871dff0-9d56-4c42-a388-4d4b4fff3cdb","name":"data","value":"{\"scores\":{\"url\":\"https://www.canocompletecleaning.com/\",\"accessibility\":\"0.86\",\"seo\":\"0.85\",\"bestPractices\":\"1\",\"performance\":\"0.54\"},\"output\":{\"getCompanyInfo\":{\"output\":{\"companyName\":\"Cano Complete Cleaning Inc.\",\"phone\":\"(402) 706-9345\",\"email\":\"carlos@canocompletecleaning.com\",\"street\":null,\"city\":\"Omaha\",\"state\":\"NE\",\"zip\":null}},\"getServices\":{\"output\":[{\"name\":\"Commercial Janitorial\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-building\"},{\"name\":\"Residential Cleaning\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-home\"},{\"name\":\"Floor Maintenance\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-brush\"},{\"name\":\"Carpet Cleaning\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-carpet\"},{\"name\":\"Window Cleaning\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-window-wash\"},{\"name\":\"Exterior Cleaning Available\",\"description\":\"We work with all commercial and residential clients. Our team is licensed, insured, and bonded to bring high-quality cleaning for incredible results.\",\"icon\":\"fa-brush\"}]},\"getReviews\":{\"output\":[]}}}","type":"string"}]},"options":{}},"id":"daeee0fd-b289-4470-a237-ff82a1311a52","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1040,400]},{"parameters":{"assignments":{"assignments":[{"id":"eb0328c0-5476-402f-a927-3e87f4eb77d5","name":"data","value":"={{ JSON.parse($json.data) }}","type":"object"}]},"options":{}},"id":"857411de-c01e-45ea-be8f-15bc6e1eebc7","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1260,400]},{"parameters":{"keys":{"key":[{"currentKey":"data.output.getCompanyInfo.output","newKey":"data.CompanyInfo"},{"currentKey":"data.output.getCompanyInfo","newKey":"deleteMe"},{"currentKey":"data.output.getReviews.output","newKey":"data.Reviews"},{"currentKey":"data.output.getReviews","newKey":"deleteMe"},{"currentKey":"data.output.getServices.output","newKey":"data.Services"},{"currentKey":"data.output.getServices","newKey":"deleteMe"},{"currentKey":"data.scores.url","newKey":"data.url"},{"currentKey":"data.output","newKey":"deleteMe"}]},"additionalOptions":{}},"id":"f331a520-00fa-4266-92ea-7efc11fc422b","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1480,400]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f5ba854-3bd5-4ab8-a3a1-03b80ad95073","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}