n8n/backup flows.json
{"createdAt":"2024-05-22T11:59:47.952Z","updatedAt":"2024-05-22T12:10:44.000Z","id":"DVphUhhsI2glrVt2","name":"backup flows","active":false,"nodes":[{"parameters":{},"id":"8587732b-1683-4e53-b47c-dee37c583d5f","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,400]},{"parameters":{"filters":{"tags":"Project Insite 2"}},"id":"977314b3-faf4-4487-ab9b-5380b3d1df58","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[960,400],"credentials":{"n8nApi":{"id":"jPQZSzZ75hPgzpes","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"82532fbe-7a13-40b9-af37-ecfeb16bf008","name":"data","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"980e2074-b51c-40ee-881e-7ccc27ca67fa","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1200,400]},{"parameters":{"operation":"toText","sourceProperty":"data","options":{}},"id":"c3e2217a-1332-4c34-a466-274fb1643937","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1460,400]},{"parameters":{"operation":"write","fileName":"=/home/kian/projects/dean-falconer--project-insite/n8n/{{ $('n8n').item.json[\"name\"] }}.json","options":{}},"id":"5e57f479-90d1-48b0-98da-82843ed29300","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1700,400]},{"parameters":{"command":"rm /home/kian/projects/dean-falconer--project-insite/n8n/* || true"},"id":"12fae467-1d6e-4a6f-a4fd-1543f01d3646","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[760,400]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[]]},"Execute Command":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69303fe8-f3ea-4a22-8297-d6fe9a7bc91f","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}