n8n/service:fetchHtml.json
{"createdAt":"2024-05-17T15:25:29.618Z","updatedAt":"2024-05-20T14:55:34.000Z","id":"PiXGzKHqsHzCO35k","name":"service:fetchHtml","active":false,"nodes":[{"parameters":{"url":"https://app.scrapingbee.com/api/v1/","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"block_resources","value":"false"},{"name":"url","value":"={{ $('Edit Fields').item.json.url }}"},{"name":"wait","value":"1000"}]},"options":{}},"id":"8a7cb4aa-275d-404c-bf81-9e22346e5850","name":"get scrapingbee","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-40],"credentials":{"httpQueryAuth":{"id":"DUtrZkSW3ntrsh0n","name":"ScrapingBee API Key"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5a97c65c-a09f-4173-9185-0c6768235a70","name":"data","value":"","type":"string"}]},"options":{}},"id":"47ffaaef-b93c-4848-8775-8468a59b0fe3","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2700,-180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"919b0a79-6975-4c93-8ed9-fae652f95911","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b7373997-f5ec-4ef6-8f16-d2bcda50f39a","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2440,-40]},{"parameters":{"assignments":{"assignments":[{"id":"58c6b014-b9a0-42eb-b67c-47ad013e0d34","name":"cacheKey","value":"=cache:raw:{{ encodeURIComponent($json.data.url) }}","type":"string"},{"id":"ea39551e-5050-41dc-8fcc-2458914ef8c0","name":"url","value":"={{ $json.data.url }}","type":"string"}]},"options":{}},"id":"b01a6cab-5a3a-4a5f-8021-ae0deeaba290","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,-100]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $json.cacheKey }}","keyType":"string","options":{}},"id":"ce6b7299-88c6-4669-8718-f1cb32ee1e44","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1720,-100],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"88f42263-dfd8-4944-b440-62631511b806","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a9fec825-5786-48b5-b83a-922b00721b45","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,-100]},{"parameters":{"assignments":{"assignments":[{"id":"ec7364f7-7608-43b7-b70b-75f69e3b5c79","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"789f7c5e-dceb-4f27-ba06-224ad3e6eea0","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2920,-20]},{"parameters":{"operation":"set","key":"={{ $('Edit Fields').item.json.cacheKey }}","value":"={{ $json.data }}","keyType":"string"},"id":"6cdaa31e-d717-4fe1-af42-45d359d21367","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3140,-20],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"c9710f32-da7e-4cdd-8a4a-07f55104f42a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1300,-100]},{"parameters":{"assignments":{"assignments":[{"id":"12e13499-14f0-4f11-8af9-98d80adfc87a","name":"cacheKey","value":"={{ $('Edit Fields').item.json.cacheKey }}","type":"string"},{"id":"301c26a7-9def-4974-8ada-52d050cae8e1","name":"url","value":"={{ $('Edit Fields').item.json.url }}","type":"string"}]},"options":{}},"id":"e3e5fddf-54ec-453d-ad57-768a522843f4","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3600,-420]}],"connections":{"get scrapingbee":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"get scrapingbee","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"580f28b7-b969-4fea-8aa0-63d414bcb811","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}