n8n/service:fetchText.json
{"createdAt":"2024-05-20T15:42:08.149Z","updatedAt":"2024-05-21T00:28:47.000Z","id":"NIgfqhudXxeWEoSf","name":"service:fetchText","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"58c6b014-b9a0-42eb-b67c-47ad013e0d34","name":"cacheKey","value":"=cache:txt:{{ encodeURIComponent($json.data.url) }}","type":"string"},{"id":"ea39551e-5050-41dc-8fcc-2458914ef8c0","name":"url","value":"={{ $json.data.url }}","type":"string"},{"id":"3f037991-8974-41b4-8d70-08b6c3ed3900","name":"htmlKey","value":"={{ $json.data.htmlKey }}","type":"string"}]},"options":{}},"id":"20846705-1dac-452f-99bd-84446bf03504","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,-100]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $json.cacheKey }}","keyType":"string","options":{}},"id":"8d691de2-c0f0-4cd7-a580-4b66eca37d83","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1720,-100],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"88f42263-dfd8-4944-b440-62631511b806","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7ac6977d-9730-4a7c-82fc-490c592ab202","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,-100]},{"parameters":{"assignments":{"assignments":[{"id":"ec7364f7-7608-43b7-b70b-75f69e3b5c79","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"dae57993-92c9-48d1-a819-8828db58dcec","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3300,-20]},{"parameters":{"operation":"set","key":"={{ $('Edit Fields').item.json.cacheKey }}","value":"={{ $json.data }}","keyType":"string"},"id":"bde0ec7f-c6d0-44c4-be02-97be7884de39","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3500,-40],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"798e9c2c-bb6d-4aa6-ae96-83d4ccfd3856","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1300,-100]},{"parameters":{"assignments":{"assignments":[{"id":"12e13499-14f0-4f11-8af9-98d80adfc87a","name":"cacheKey","value":"={{ $('Edit Fields').item.json.cacheKey }}","type":"string"},{"id":"301c26a7-9def-4974-8ada-52d050cae8e1","name":"url","value":"={{ $('Edit Fields').item.json.url }}","type":"string"}]},"options":{}},"id":"28d9ea85-26ab-4b82-8297-1b42cd19cc40","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3600,-420]},{"parameters":{"method":"POST","url":"http://localhost:5000/get_text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"bc773ad2-bc66-4427-8618-793a4c3995a8","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,-80]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $('Edit Fields').item.json.htmlKey }}","options":{}},"id":"94c2e69d-c135-4907-861a-f04506c93520","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2180,-60],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"toText","sourceProperty":"data","options":{}},"id":"66b412c1-ca20-48e2-8a6a-d3b8147c422d","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2620,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"74f45a13-33a5-45cd-b362-d6e621e2dc1f","leftValue":"{{ $json.data","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ecd4e486-5556-45b8-9884-c59973c44c80","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2400,-60]},{"parameters":{"assignments":{"assignments":[{"id":"1f71da0a-962e-4e26-bba8-bf397bb64e7d","name":"data","value":"","type":"string"}]},"options":{}},"id":"761eb6a3-3ec3-499a-b3af-7ce29b6706ae","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3120,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4440c30d-d089-4205-9481-1802568e0819","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4120066d-a944-4d49-b126-015600ef99ff","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3020,-80]}],"connections":{"Edit Fields":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e73ccbe-effd-4eef-b500-7f3ba0f9aaf0","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}