n8n/service:queryAI.json
{"createdAt":"2024-05-20T16:04:50.594Z","updatedAt":"2024-05-21T00:54:26.000Z","id":"tBjW6uJBdk0X0myX","name":"service:queryAI","active":false,"nodes":[{"parameters":{},"id":"17608014-8d3d-4998-a5e3-4fdfb0b20558","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[920,1540]},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $('Edit Fields5').item.json.cacheKey }}","keyType":"string","options":{}},"id":"c7605e7b-5c13-43cf-b524-1b222450cbbe","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1580,1540],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"88f42263-dfd8-4944-b440-62631511b806","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5f205e84-3d91-4a49-a456-ad084419053d","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,1540]},{"parameters":{"assignments":{"assignments":[{"id":"58c6b014-b9a0-42eb-b67c-47ad013e0d34","name":"cacheKey","value":"=cache:ai:{{ encodeURIComponent($json.data.url) }}:{{ $json.data.query }}","type":"string"},{"id":"ea39551e-5050-41dc-8fcc-2458914ef8c0","name":"txtKey","value":"={{ $json.data.txtKey }}","type":"string"},{"id":"7169ac7f-145d-4738-ad8e-3f0fa7466922","name":"url","value":"={{ $json.data.url }}","type":"string"},{"id":"3afd4491-e69f-4335-96ac-d8687d2a5c44","name":"query","value":"={{ $json.data.query }}","type":"string"}]},"options":{}},"id":"366806a1-6334-4484-a044-841281413813","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1180,1540]},{"parameters":{"operation":"set","key":"={{ $('Edit Fields5').item.json.cacheKey }}","value":"={{ $json.data }}","keyType":"string"},"id":"5ba5af94-1f47-47e5-98b2-c7b2359436dd","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3760,1660],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d4917423-2913-4355-8a7c-384d2476f9f9","name":"data","value":"={{ JSON.parse($json.data) }}","type":"object"}]},"options":{}},"id":"36507a80-e0c0-4873-8fa4-eec3d1230570","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4200,1180]},{"parameters":{"assignments":{"assignments":[{"id":"41e459af-1d06-40af-8bc5-6abf95f7eebb","name":"url","value":"={{ $('Edit Fields5').item.json.url }}","type":"string"},{"id":"5f305d7d-3ede-47a5-9ee4-df6b2643baae","name":"cacheKey","value":"={{ $('Edit Fields5').item.json.cacheKey }}","type":"string"},{"id":"5d0e6c7c-215a-461f-aa9b-9cd13f94a088","name":"aiResult","value":"={{ $json.data }}","type":"object"},{"id":"a6c35e6e-293a-425a-8dc3-3b0949306cc3","name":"query","value":"={{ $('Edit Fields5').item.json.query }}","type":"string"}]},"options":{}},"id":"5042c962-06dc-4bfd-b3c9-e9b96b40eb79","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4420,1180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Edit Fields5').item.json.query }}","rightValue":"getCompanyInfo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getCompanyInfo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6f2c4cbd-29df-4494-a80a-9e7d45d9ee26","leftValue":"={{ $('Edit Fields5').item.json.query }}","rightValue":"getReviews","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getReviews"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"de531a9c-6e3e-4b24-9a44-5fe4bf26662f","leftValue":"={{ $('Edit Fields5').item.json.query }}","rightValue":"getServices","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getServices"}]},"options":{}},"id":"86de8d5f-38ce-4011-92d1-d97c83a47b12","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1820,2220]},{"parameters":{"operation":"get","propertyName":"txt","key":"={{ $('Edit Fields5').item.json.txtKey }}","keyType":"string","options":{}},"id":"35556ce7-89fa-4b1c-a977-dfd037f22001","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1640,2220],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9922e050-62dc-4e05-a81d-af48a97251f7","name":"data","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"ac091087-533b-41a7-9bf1-319e03028ced","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3500,1680]},{"parameters":{"assignments":{"assignments":[{"id":"fd341d8e-0391-44ed-acdf-4c2a68878f86","name":"prompt","value":"=Please extract company info from the following summary:","type":"string"},{"id":"83f2623f-f346-411e-93f2-3b0a5f477c05","name":"schema","value":"={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Business Information\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"companyName\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The name of the business\"\n    },\n    \"phone\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The phone number of the business\"\n    },\n    \"email\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"email\",\n      \"description\": \"The email address of the business\"\n    },\n    \"street\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The street address of the business\"\n    },\n    \"city\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The city where the business is located\"\n    },\n    \"state\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The state where the business is located\"\n    },\n    \"zip\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The zip code of the business\"\n    }\n  },\n  \"required\": [\"companyName\"],\n  \"additionalProperties\": false\n}","type":"string"}]},"options":{}},"id":"a9dbad5b-c3f0-43fb-8c57-352a45a55534","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2260,2120]},{"parameters":{"options":{}},"id":"d4e6718c-13fc-434e-b32f-3f6a07811c1b","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3100,2680],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"6c5de9a1-70bc-463b-934c-db5b27f7c880","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3260,2460]},{"parameters":{"jsonSchema":"={{ $json.schema }}"},"id":"eeeb90e8-c292-4870-bdca-9682edca58c4","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[3360,2680]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}\n---\n{{ $('Redis').item.json.txt }}\n---","hasOutputParser":true},"id":"22906f0e-2f0a-487c-9dbe-43069b070e90","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3060,2240]},{"parameters":{"assignments":{"assignments":[{"id":"fd341d8e-0391-44ed-acdf-4c2a68878f86","name":"prompt","value":"Please extract all reviews from the following summary:","type":"string"},{"id":"83f2623f-f346-411e-93f2-3b0a5f477c05","name":"schema","value":"={\n    \"type\": \"array\",\n    \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"reviewer_name\": {\n                \"type\": [\"string\", \"null\"],\n                \"description\": \"The name of the reviewer\"\n            },\n            \"rating\": {\n                \"type\": [\"number\", \"null\"],\n                \"description\": \"The rating given by the reviewer on a scale of 1-5\"\n            },\n            \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The text of the review\"\n            }\n        },\n        \"required\": [\"reviewer_name\", \"rating\", \"text\"]\n    }\n}","type":"string"}]},"options":{}},"id":"f846f895-20ad-46ae-b476-b0a48a5ae52e","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2260,2320]},{"parameters":{"assignments":{"assignments":[{"id":"fd341d8e-0391-44ed-acdf-4c2a68878f86","name":"prompt","value":"Please extract a list of services from the following summary.\n\nFor example,\n\nname: Carpet Cleaning\ndescription: Soft and clean, just like new!\nicon: fa-rug\n\nMake sure to be concise. (description should only be 5-8 words)\n\nsummary:","type":"string"},{"id":"83f2623f-f346-411e-93f2-3b0a5f477c05","name":"schema","value":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the service.\"\n      },\n      \"description\": {\n        \"type\": \"string\",\n        \"description\": \"A brief description of the service.\"\n      },\n      \"icon\": {\n        \"type\": \"string\",\n        \"description\": \"The font awesome icon for the service. Should start with 'fa-'.\",\n        \"pattern\": \"^fa-\"\n      }\n    },\n    \"required\": [\"name\", \"description\", \"icon\"]\n  }\n}","type":"string"}]},"options":{}},"id":"c5f6b253-b7fd-4af5-8192-fa7838ebeb4e","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2260,2520]},{"parameters":{"operation":"delete","key":"={{ $json.cacheKey }}"},"id":"7bc3d417-1d97-4daa-94e1-b27eb997ec02","name":"CLEAR CACHE","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1380,1400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"log","messageData":"=ALWAYS CLEARING AI CACHE"},"id":"9c8a3ff5-d5fc-4421-95de-28b7d8a0fa71","name":"Redis10","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1540,1240],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Edit Fields3":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"CLEAR CACHE":{"main":[[{"node":"Redis10","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"004660fc-4a30-4b11-91b1-397a5ae59fa9","triggerCount":0,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}