n8n/services.json
{"createdAt":"2024-05-17T16:20:55.539Z","updatedAt":"2024-05-22T14:57:59.000Z","id":"LOzOWBLeUGB4qEx5","name":"services","active":true,"nodes":[{"parameters":{"operation":"pop","list":"=workers:{{ $json.service }}","propertyName":"data","options":{}},"id":"b8b202ba-0087-4099-b70f-24323661020a","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[900,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1d6740ad-7a68-4cc2-b92e-2cc862ebfc12","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"02f6b08c-7fd5-4dca-84d2-cd113bbcde7e","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,400]},{"parameters":{"operation":"push","list":"=workers:{{ $('set service').item.json.service }}","messageData":"=ok"},"id":"513a29c9-0a08-4fd8-a3bf-d43b6682a220","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1920,460],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"pop","list":"=queue:{{ $('set service').item.json.service }}","propertyName":"data","options":{}},"id":"bf286c96-9eb1-43bc-b392-379748f64618","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1480,380],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba54ac8a-144c-41dd-8f42-e40fcbc3e57b","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5f6432c8-33c6-41bc-b0c6-23984a91473f","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1700,380]},{"parameters":{"channels":"service:newSite,service:fetchHtml,service:fetchText,service:lighthouse,service:queryAI,service:postResults","options":{"jsonParseBody":true}},"id":"b17e1fc7-88a1-4849-b498-1bf7690efd57","name":"Redis Trigger","type":"n8n-nodes-base.redisTrigger","typeVersion":1,"position":[240,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"=orchestrate","messageData":"={{ $('Edit Fields').item.json.msg }}"},"id":"5fe47816-6a49-4358-8787-4ae9ab74f0f7","name":"Redis6","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4500,1180],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{},"id":"8b348796-4b6d-4787-a874-4fa47a9fa3ef","name":"business logic","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3800,460]},{"parameters":{"operation":"publish","channel":"log","messageData":"=START {{ $('set service').item.json.service }} worker"},"id":"e537c0cd-6011-4d2b-a862-71e1410cbbce","name":"Redis7","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1480,60],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"log","messageData":"=PROCESS {{ $('set service').item.json.service }} {{  JSON.stringify($json.data) }}"},"id":"2ccc2707-c94e-43b4-b4fa-e14e6636f992","name":"Redis8","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1840,60],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"publish","channel":"log","messageData":"=STOP {{ $('set service').item.json.service }} worker"},"id":"cccc32b3-fc8a-4a56-8d05-5d19d80e439a","name":"Redis9","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2140,60],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8dcfb484-6b00-42ce-b571-3cc0149f2796","name":"service","value":"={{ $json.channel.split(\":\").splice(1).join(\"\") }}","type":"string"}]},"options":{}},"id":"d93fed17-1309-44cb-a47f-19d1473484d8","name":"set service","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[580,400]},{"parameters":{"operation":"publish","channel":"log","messageData":"=NO_SUCH_SERVICE {{ $('set service').item.json.service }}"},"id":"aec929dc-70a0-4c29-b7bf-5a6135d37d6e","name":"Redis10","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2460,60],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"workflowId":"PiXGzKHqsHzCO35k","mode":"each","options":{"waitForSubWorkflow":true}},"id":"be11f723-1762-45c2-91c4-a248336ba9b1","name":"service:fetchHtml","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,20]},{"parameters":{"workflowId":"ozVmyBg3Pr3SV1o2","mode":"each","options":{"waitForSubWorkflow":true}},"id":"f02233a0-9118-4e64-a72a-c211a9f02201","name":"service:lighthouse","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,200]},{"parameters":{},"id":"ce51629e-d762-434c-98cf-9daf7aff2b4d","name":"fallback","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2260,460]},{"parameters":{},"id":"f61bb432-40d4-4b2a-a6c7-6744bad6c860","name":"unable to get worker slot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1320,1040],"notesInFlow":true,"notes":"not an error, just means one is already running"},{"parameters":{"operation":"push","list":"={{ $json.queue }}","messageData":"={{ $('Edit Fields').item.json.msg }}"},"id":"1ca5ad2f-964a-4d07-badd-fab36046b1d8","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4220,700],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a84b21bb-6688-4334-a15a-eed32812271e","name":"msg","value":"={{ JSON.stringify({ service: $('set service').item.json.service, data: $json}) }}","type":"string"},{"id":"d5368662-c0d2-4389-848f-81e355ac2e0f","name":"queue","value":"=orchestrate:queue:{{ encodeURIComponent($json.url) }}","type":"string"}]},"options":{}},"id":"302848f7-2b81-4b5e-a824-9351851e900d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4020,460]},{"parameters":{"assignments":{"assignments":[{"id":"365afabc-315e-4935-80f2-c1dcd791fa04","name":"url","value":"={{ $json.data.url }}","type":"string"},{"id":"cace90e5-3fea-48ce-b662-0dab1eb7c256","name":"callback","value":"={{ $json.data.callback }}","type":"string"},{"id":"775cca09-d44a-444c-9d07-b9cc347d3e35","name":"req","value":"={{ $json.data.req }}","type":"string"}]},"options":{}},"id":"a86c3757-8d94-4746-abd1-42f10fa3f337","name":"service:newSite","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3320,380]},{"parameters":{"workflowId":"NIgfqhudXxeWEoSf","mode":"each","options":{"waitForSubWorkflow":true}},"id":"8c2683cf-cbbf-445b-a457-c0c88a353b01","name":"service:fetchText","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,540]},{"parameters":{"workflowId":"tBjW6uJBdk0X0myX","mode":"each","options":{"waitForSubWorkflow":true}},"id":"82e7e374-cec0-4d6b-848b-4f38071cefdf","name":"service:queryAI","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,720]},{"parameters":{"workflowId":"Q1pRJNl02emCzfQm","mode":"each","options":{"waitForSubWorkflow":true}},"id":"256dfa47-0e55-49b9-bce7-279b796b9d7b","name":"service:postResults","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,900]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('set service').item.json.service }}","rightValue":"fetchHtml","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetchHtml"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fbb8a91b-2a17-4841-80c6-43355e69758b","leftValue":"={{ $('set service').item.json.service }}","rightValue":"lighthouse","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lighthouse"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1b0630af-c8d3-4813-bd88-1d5471468a69","leftValue":"={{ $('set service').item.json.service }}","rightValue":"newSite","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"newSite"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"601f000a-e898-4515-b93c-5c19412b576d","leftValue":"={{ $('set service').item.json.service }}","rightValue":"fetchText","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetchText"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"22359214-b119-45c0-a440-41c7e3b9bff6","leftValue":"={{ $('set service').item.json.service }}","rightValue":"queryAI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queryAI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"44611b59-52c9-4496-876c-a8cf4c2e14aa","leftValue":"={{ $('set service').item.json.service }}","rightValue":"postResults","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"postResults"}]},"options":{"fallbackOutput":"extra"}},"id":"adcc88c6-8b77-44e9-b56b-914636db554c","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2100,280]}],"connections":{"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis2","type":"main","index":0},{"node":"Redis7","type":"main","index":0}],[{"node":"unable to get worker slot","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis8","type":"main","index":0},{"node":"Switch","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0},{"node":"Redis9","type":"main","index":0}]]},"Redis Trigger":{"main":[[{"node":"set service","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"business logic":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set service":{"main":[[{"node":"Redis","type":"main","index":0}]]},"service:fetchHtml":{"main":[[{"node":"business logic","type":"main","index":0}]]},"fallback":{"main":[[{"node":"Redis10","type":"main","index":0},{"node":"Redis2","type":"main","index":0}]]},"service:lighthouse":{"main":[[{"node":"business logic","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"service:newSite":{"main":[[{"node":"business logic","type":"main","index":0}]]},"service:fetchText":{"main":[[{"node":"business logic","type":"main","index":0}]]},"service:queryAI":{"main":[[{"node":"business logic","type":"main","index":0}]]},"service:postResults":{"main":[[{"node":"business logic","type":"main","index":0}]]},"Switch":{"main":[[{"node":"service:fetchHtml","type":"main","index":0}],[{"node":"service:lighthouse","type":"main","index":0}],[{"node":"service:newSite","type":"main","index":0}],[{"node":"service:fetchText","type":"main","index":0}],[{"node":"service:queryAI","type":"main","index":0}],[{"node":"service:postResults","type":"main","index":0}],[{"node":"fallback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f62d12c-3ea5-4809-a748-9e65b705aeb3","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}