n8n/trigger.json
{"createdAt":"2024-05-17T15:36:20.538Z","updatedAt":"2024-05-27T16:09:21.000Z","id":"kggoLEhhPmF7rfqV","name":"trigger","active":true,"nodes":[{"parameters":{},"id":"3642f81d-ce3b-4f0a-bec9-d4c87b7b318d","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[640,400]},{"parameters":{"assignments":{"assignments":[{"id":"2f033cca-afe9-4d27-add8-914974545e24","name":"url","value":"https://www.canocompletecleaning.com/","type":"string"},{"id":"3084f681-45b1-4215-80c5-083cd458d688","name":"req","value":"={{ $json.data }}","type":"string"},{"id":"c53d9583-5e32-49df-84de-a8a7a1cb9dc1","name":"callback","value":"http://localhost:8001","type":"string"}]},"options":{}},"id":"0c23aac3-bd15-4d57-8924-f6d399fbc62b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1100,400]},{"parameters":{"assignments":{"assignments":[{"id":"6f640ae8-fe2c-47c1-8e6e-6031f93ff908","name":"msg","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"id":"d9748b78-87ab-4c0d-bfe1-624520acca55","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1320,400]},{"parameters":{"operation":"publish","channel":"service:newSite","messageData":"={{ $('Edit Fields1').item.json.msg }}"},"id":"8ba325a7-372b-4b3c-b39b-9b3ce1ddf27c","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1740,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"push","list":"queue:newSite","messageData":"={{ $json.msg }}"},"id":"cc94fc77-4a3c-46ee-ad47-052eb7483672","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"body.urls","options":{}},"id":"b1dfdcad-47c5-43fe-b9cb-edc4f7a07101","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1000,620]},{"parameters":{"assignments":{"assignments":[{"id":"6f640ae8-fe2c-47c1-8e6e-6031f93ff908","name":"msg","value":"={{ JSON.stringify({url: $json[\"body.urls\"], callback: $('Webhook').item.json.body.callbackUrl }) }}","type":"string"}]},"options":{}},"id":"248b68e9-9208-43a8-9404-255a47d2d148","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1300,620]},{"parameters":{"operation":"publish","channel":"service:newSite","messageData":"={{ $('Edit Fields2').item.json.msg }}"},"id":"a429805b-6511-42fd-8daf-afa535d0c006","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1920,620],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"push","list":"queue:newSite","messageData":"={{ $json.msg }}"},"id":"f4243d2d-fd45-4f56-bd83-5a244ee890f3","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1700,620],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"action":"generate"},"id":"32ab7d68-7b32-4fc0-ade7-8359c6ec388a","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[860,400]},{"parameters":{"method":"POST","url":"http://localhost:3000/process","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body) }}","options":{}},"id":"c87f0950-753b-4e74-ae62-6e25d6ad7dd1","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,180]},{"parameters":{"httpMethod":"POST","path":"ba69755d-960d-4059-962e-b2be0384589e","responseMode":"lastNode","options":{}},"id":"0a73d71c-d222-4a2c-bad3-01ef4988b21f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[700,180],"webhookId":"ba69755d-960d-4059-962e-b2be0384589e"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4545805d-1cf8-40bc-ae42-61fda5bcf074","triggerCount":1,"tags":[{"createdAt":"2024-05-20T13:45:47.324Z","updatedAt":"2024-05-20T13:45:47.324Z","id":"ZbC4VrBsr9HDiTc1","name":"Project Insite 2"}]}