archive/n8n-flows/callGeminiProVision.json
{"createdAt":"2024-05-05T22:24:37.362Z","updatedAt":"2024-05-06T13:44:42.000Z","id":"jvbDBtAanzNlXo1E","name":"callGeminiProVision","active":false,"nodes":[{"parameters":{},"id":"aa6198a9-71fb-460f-88c8-b0391c0d1ef8","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,180]},{"parameters":{"assignments":{"assignments":[{"id":"e3ba1454-8abc-4b06-9b95-76c22b0c0b3b","name":"imageUrl","value":"https://in-southflorida.com/images/logo-a1-new.png","type":"string"},{"id":"af59621f-df89-4ef9-b8c9-e487ea271379","name":"prompt","value":"describe this image","type":"string"}]},"options":{}},"id":"3e34cc56-ebbf-4c88-9d36-7d349ec9ba77","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[280,180]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"c5628821-2d67-4bc0-8383-46235c8e7286","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1580,280]},{"parameters":{"errorMessage":"calling gemini pro vision failed!"},"id":"a5dcc06e-9c7b-4703-a71e-4f2c2ed22338","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2520,100]},{"parameters":{"fieldToSplitOut":"candidates[0].content.parts","options":{}},"id":"1e1f4f27-9e85-4d7a-af3a-c06c00e4c294","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2460,280]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"text","separateBy":"\n"}]},"options":{}},"id":"e7164247-a443-4cf4-a9cb-6322c2b9012b","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2680,280]},{"parameters":{"assignments":{"assignments":[{"id":"bd31cfb2-9a30-465d-870d-c6696ad81b0f","name":"imageUrl","value":"={{ $json.imageUrl }}","type":"string"},{"id":"45c9bdea-3805-4d0e-8ee7-b3aae63c2886","name":"prompt","value":"={{ $json.prompt }}","type":"string"}]},"options":{}},"id":"a2d72f92-434a-4130-b059-4cc74eb04a89","name":"set params","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[500,300]},{"parameters":{"assignments":{"assignments":[{"id":"c05ef095-adc8-43af-95a3-c1932514883f","name":"imageBase64","value":"={{ $json.data }}","type":"string"},{"id":"24a8f89c-d5d8-430a-ab21-363dbdc63f7d","name":"model","value":"gemini-pro-vision","type":"string"},{"id":"664f750e-6e4e-4549-b3d8-923848e76567","name":"prompt","value":"={{ $('set params').item.json.prompt }}","type":"string"}]},"options":{}},"id":"89d4585a-a95d-4b54-8d51-455163debf16","name":"set params for gemini","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1800,280]},{"parameters":{"url":"={{ $json.imageUrl }}","options":{}},"id":"518c725d-4ae0-4531-a813-96f8ecd819fb","name":"fetch image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,300]},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1/models/{{ $json[\"model\"] }}:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"role\": \"USER\",\n      \"parts\": [\n        { \"text\": {{ JSON.stringify($json.prompt) }} },\n        { \"inlineData\": { \"mimeType\": \"{{ $('fetch image').item.binary.data.mimeType }}\", \"data\": {{ JSON.stringify($json.imageBase64) }} } }\n      ]\n    }\n  ]\n}","options":{}},"id":"8965b43d-1441-4a9f-83c9-7b19e1b4733a","name":"query gemini","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,280],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8713be69-bd9a-4081-9a4a-edc5025f98a5","leftValue":"={{ $json.candidates[0].finishReason }}","rightValue":"STOP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"7621f700-e39d-472c-95c6-2ad025363222","name":"if abnormal stop","type":"n8n-nodes-base.if","typeVersion":2,"position":[2240,280]},{"parameters":{"keys":{"key":[{"currentKey":"concatenated_text","newKey":"text"}]},"additionalOptions":{}},"id":"98cbacc3-df54-4668-bfc7-31b36f545144","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2900,280]},{"parameters":{},"id":"b8ae0236-5e22-4288-99c4-6038f0b9c6f1","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[60,380]},{"parameters":{"operation":"write","fileName":"/tmp/insiteimage","options":{}},"id":"04488f9c-ec07-4f98-8c39-b2fcb455e80c","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1220,460]},{"parameters":{"mode":"chooseBranch"},"id":"917e3965-79ac-4845-8e6b-2d0bb4678dfc","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1380,400]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"set params","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"set params for gemini","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"set params":{"main":[[{"node":"fetch image","type":"main","index":0}]]},"set params for gemini":{"main":[[{"node":"query gemini","type":"main","index":0}]]},"fetch image":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"query gemini":{"main":[[{"node":"if abnormal stop","type":"main","index":0}]]},"if abnormal stop":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"set params","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af71d7cf-a13d-421d-814c-d082f6b8a55a","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}