archive/n8n-flows/extractLinks.json
{"createdAt":"2024-05-05T03:12:32.724Z","updatedAt":"2024-05-05T05:19:30.000Z","id":"5B0TCmURv285U2TH","name":"extractLinks","active":false,"nodes":[{"parameters":{},"id":"d7b8ac71-2613-4858-916a-e2dc392ffb9e","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[320,360]},{"parameters":{"assignments":{"assignments":[{"id":"94b6c706-38be-40ff-b3f8-7b2f06462b4e","name":"url","value":"https://in-southflorida.com/","type":"string"},{"id":"7b2b540f-f7cf-40c7-8c0e-119c6a8fe68d","name":"site","value":"https://in-southflorida.com/","type":"string"}]},"options":{}},"id":"71601013-847e-4003-af2e-4826a2102e15","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[540,360]},{"parameters":{},"id":"1eabc641-6de8-4ec0-847d-0aa3270bdbd8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[320,620]},{"parameters":{"workflowId":"2OibNKcZZNkGE5ez","mode":"each","options":{"waitForSubWorkflow":true}},"id":"c3e87b62-9745-458b-883c-7fef851aa7d6","name":"fetchHtml","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1360,520]},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"html","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"e4582860-7f76-4736-9a4e-5b3bcea96dbe","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2020,520]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"9d55c935-db01-4e93-80c9-98ad884f6201","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7ceda4c0-f7e3-4021-8615-6ceb35725eae","leftValue":"={{ $json.links }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5740c8da-976a-4203-be8d-943ff313337e","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2500,520]},{"parameters":{},"id":"69bcbefd-b903-4485-8cd3-4e3cdbb50179","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2720,520]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"631dc686-22d7-44b5-9ffe-1164e79aa5a3","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[940,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e8eb14bc-2484-471e-8ab3-78adb79117bb","leftValue":"={{ $json.links }}","rightValue":"/","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"7c08e6e1-4802-47ab-b072-36697e5d434e","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2940,520]},{"parameters":{"assignments":{"assignments":[{"id":"87c4ba7d-c62b-4356-be23-e410bb4b97ee","name":"links","value":"={{ $('validateParams').item.json.site + $json.links.slice(1) }}","type":"string"}]},"options":{}},"id":"947d9cd5-798d-49fb-ae27-0788e11953e5","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3240,400]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"id":"a30ca5a3-b709-464e-bb4e-6e7e8480f453","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3600,480]},{"parameters":{},"id":"f3b170a6-07eb-48ac-8ec0-8cc05abf7250","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3420,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4c5793ab-00e8-4439-8eff-8f4d0a0f0b07","leftValue":"={{ $json.html }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f6d1040e-e110-4962-b810-813c50699d4b","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1560,520]},{"parameters":{"assignments":{"assignments":[{"id":"78c87ccd-6e38-40bd-a73c-9ce68034a4ad","name":"links","value":"[]","type":"array"}]},"options":{}},"id":"167b4085-7bd2-44e2-b8d5-76bb9169d74b","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1820,760]},{"parameters":{"assignments":{"assignments":[{"id":"b3c842ef-32a1-44ec-b0dd-b2da1ec28507","name":"links","value":"={{ $json.links }}","type":"array"}]},"options":{}},"id":"fa77553c-c73f-4237-9e34-d25ed9c220e5","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3800,680]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"fetchHtml":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"fetchHtml","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTML","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41fbbbcd-bac9-4747-bcca-b651f1ce0112","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}