archive/n8n-flows/extractSiteInfo.json
{"createdAt":"2024-05-05T04:50:41.341Z","updatedAt":"2024-05-20T16:57:30.000Z","id":"4Cm6d0j4HovNxxu5","name":"extractSiteInfo","active":false,"nodes":[{"parameters":{},"id":"a3bb2a61-ff2c-4a3a-a9c8-eddb38f83d29","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-860,640]},{"parameters":{"assignments":{"assignments":[{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://www.magicserviceco.com/","type":"string"}]},"options":{}},"id":"9bb6962b-d583-440a-b9b2-27b2ccde96d6","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-560,640]},{"parameters":{},"id":"16e9ac73-86aa-45f2-b41b-08e9615ac448","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-860,820]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"03b7514d-d58a-4973-8551-572c14310899","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-100,840]},{"parameters":{"assignments":{"assignments":[{"id":"cc357477-95a4-423e-8684-1411dd041d68","name":"url","value":"={{ $json.site }}","type":"string"},{"id":"18594755-f63d-4148-af95-4a9926eb3ac1","name":"site","value":"={{ $json.site }}","type":"string"}]},"options":{}},"id":"6ca86418-3dbf-43e6-ba9d-9490761afe22","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-300,840]},{"parameters":{"options":{}},"id":"31e5d947-129e-4040-a5a7-74e96fe8b924","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,460],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"3cc35c2a-6360-4407-ae2d-cbc43a1819ee","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2200,460]},{"parameters":{"jsonSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Business Information\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"companyName\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The name of the business\"\n    },\n    \"phone\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The phone number of the business\"\n    },\n    \"email\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"email\",\n      \"description\": \"The email address of the business\"\n    },\n    \"street\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The street address of the business\"\n    },\n    \"city\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The city where the business is located\"\n    },\n    \"state\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The state where the business is located\"\n    },\n    \"zip\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"The zip code of the business\"\n    }\n  },\n  \"required\": [\"companyName\"],\n  \"additionalProperties\": false\n}"},"id":"a852018c-bb0f-4ffd-8619-6781fd922358","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[2300,680]},{"parameters":{"options":{}},"id":"a8d4451e-bd13-47e6-804e-491587c7152b","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2020,1200],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"f9ff3b2d-2487-4c8a-ad5c-10abf014daeb","name":"Auto-fixing Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2220,1200]},{"parameters":{"jsonSchema":"{\n    \"type\": \"array\",\n    \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"reviewer_name\": {\n                \"type\": [\"string\", \"null\"],\n                \"description\": \"The name of the reviewer\"\n            },\n            \"rating\": {\n                \"type\": [\"number\", \"null\"],\n                \"description\": \"The rating given by the reviewer on a scale of 1-5\"\n            },\n            \"text\": {\n                \"type\": \"string\",\n                \"description\": \"The text of the review\"\n            }\n        },\n        \"required\": [\"reviewer_name\", \"rating\", \"text\"]\n    }\n}"},"id":"2c0d7d49-76d3-4f65-8b49-e0fc6a60936f","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[2320,1420]},{"parameters":{"options":{}},"id":"606834ce-f00b-4489-ae86-bd2b3c566113","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2040,2060],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"5794a624-c578-45d3-8cc6-60fe5a326ae7","name":"Auto-fixing Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2240,2060]},{"parameters":{"jsonSchema":"{\n    \"type\": \"array\",\n    \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"platform\": {\n                \"type\": \"string\",\n                \"description\": \"The social media platform name (e.g. Twitter, Facebook, Instagram)\"\n            },\n            \"url\": {\n                \"type\": \"string\",\n                \"format\": \"uri\",\n                \"description\": \"The URL of the social media profile\"\n            }\n        },\n        \"required\": [\"platform\", \"url\"]\n    }\n}"},"id":"4f0138fd-d82d-4a41-b929-3486c0c59a50","name":"Structured Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[2340,2280]},{"parameters":{"options":{}},"id":"6b599040-273c-46a1-9133-ebde745893f7","name":"Google Gemini Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1980,-360],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"6349f0cb-dfa2-42e7-b1fc-d53e2492a986","name":"Auto-fixing Output Parser3","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2180,-360]},{"parameters":{"jsonSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the service.\"\n      },\n      \"description\": {\n        \"type\": \"string\",\n        \"description\": \"A brief description of the service.\"\n      },\n      \"icon\": {\n        \"type\": \"string\",\n        \"description\": \"The font awesome icon for the service. Should start with 'fa-'.\",\n        \"pattern\": \"^fa-\"\n      }\n    },\n    \"required\": [\"name\", \"description\", \"icon\"]\n  }\n}"},"id":"1aadaec9-0ebf-448d-818f-7bf002e116c3","name":"Structured Output Parser3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[2280,-140]},{"parameters":{"content":"# Company Info","height":771.9542217351035,"width":652.8262606943158,"color":3},"id":"e2419cd6-b78b-45b8-a872-7b8c414821fe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,60]},{"parameters":{"content":"# Services","height":771.9542217351035,"width":652.8262606943158,"color":4},"id":"2f14ff7e-e60c-4a54-b146-b2a2bd4e59e4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,-740]},{"parameters":{"content":"# Reviews","height":771.9542217351035,"width":652.8262606943158},"id":"84023239-d842-465e-81c9-f084b46c598a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,860]},{"parameters":{"content":"# Social Media Links","height":771.9542217351035,"width":652.8262606943158,"color":5},"id":"4d763432-c170-46ea-835e-eb4931532336","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,1680]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"ffb038b5-9748-483f-a608-700b982f720a","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[340,580]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"7054926c-7c21-44d0-8065-e443eff13e8c","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1300,580]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"id":"6754e16a-29ae-4bad-8e07-8617a0f6afc2","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[780,580]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"id":"989f76dd-e7f9-4b37-adba-d01f6f99416b","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[780,740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"92754abc-33b5-4178-a053-6e1ede91393f","leftValue":"={{ $json.links }}","rightValue":"mailto:","operator":{"type":"string","operation":"startsWith"}},{"id":"9290f7bf-0c44-409b-ad40-4c119f664834","leftValue":"={{ $json.links }}","rightValue":"tel:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"id":"120e3424-fb47-4aa7-99d4-7d116f0763ea","name":"keep mailto and tel","type":"n8n-nodes-base.filter","typeVersion":2,"position":[560,580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"92754abc-33b5-4178-a053-6e1ede91393f","leftValue":"={{ $json.links }}","rightValue":"={{ $('validateParams').item.json.site }}","operator":{"type":"string","operation":"notStartsWith"}},{"id":"aa8b01a6-146d-4694-8e08-4020b6cf749b","leftValue":"={{ $json.links }}","rightValue":"mailto:","operator":{"type":"string","operation":"notStartsWith"}},{"id":"513b96e6-e3f2-4e79-ab3b-d93f8564b936","leftValue":"={{ $json.links }}","rightValue":"tel:","operator":{"type":"string","operation":"notStartsWith"}}],"combinator":"and"},"options":{}},"id":"065abc9e-8f59-42b9-b740-6addf6fb0800","name":"keep third party (include social media)","type":"n8n-nodes-base.filter","typeVersion":2,"position":[560,740]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"8624464f-1b51-4ccd-a961-accae8e7fa11","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1480,1620]},{"parameters":{"promptType":"define","text":"=Please extract any social media links from the following summary:\n\n---\n{{ $json.summary }}\n\nlinks:\n\n{{ $json.links.join(\"\\n\") }}\n---","hasOutputParser":true},"id":"f449b2d6-934e-4fcd-b450-c29d26ca9f2b","name":"Basic LLM Chain2","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2040,1840]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"clashHandling":{"values":{"resolveClash":"addSuffix"}}}},"id":"951e6551-22c6-43ba-8a76-8e98111c31d8","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2900,-180]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"clashHandling":{"values":{"resolveClash":"addSuffix"}}}},"id":"b85ed1ac-8c82-4bd5-913b-6b2ac728012a","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2900,1620]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"7aac7d02-71f8-4b6f-9698-f8ddcb364d6d","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3320,680]},{"parameters":{"keys":{"key":[{"currentKey":"output_1","newKey":"Services"},{"currentKey":"output_2","newKey":"CompanyInfo"}]},"additionalOptions":{}},"id":"09c0052c-4598-4436-9587-5f29ad013da6","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[3120,-180]},{"parameters":{"keys":{"key":[{"currentKey":"output_1","newKey":"Reviews"},{"currentKey":"output_2","newKey":"SocialMediaLinks"}]},"additionalOptions":{}},"id":"b9c04fc9-b604-4c00-ab03-c3991a1a0383","name":"Rename Keys1","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[3120,1620]},{"parameters":{"content":"# To Do\n\n{\n  \"Websites\": [\n    {\n      \"name\": \"Sparkle Cleaners\",\n      \"url\": \"https://www.sparklecleaners.com\",\n      \"logo_url\": \"https://www.sparklecleaners.com/logo.png\",\n      \"favicon_url\": \"https://www.sparklecleaners.com/favicon.ico\",\n      \"tagline\": \"Shine Every Corner\"\n    }\n  ],\n  \"Pages\": [\n    {\n      \"title\": \"Home\"\n    },\n    {\n      \"title\": \"About\"\n    },\n    {\n      \"title\": \"Services\"\n    },\n    {\n      \"title\": \"Contact\"\n    }\n  ],\n  \"Images\": [\n    {\n      \"image_url\": \"https://www.sparklecleaners.com/banner.jpg\",\n      \"image_alt\": \"Sparkle Cleaners Banner\"\n    }\n  ],\n  \"ContentBlocks\": [\n    {\n      \"content_location\": \"home_about_excerpt\",\n      \"content_type\": \"mixed\",\n      \"text\": \"Welcome to Sparkle Cleaners - Your trusted partner for all cleaning needs!\",\n      \"image_url\": \"https://www.sparklecleaners.com/banner.jpg\",\n      \"heading\": \"Welcome to Sparkle Cleaners\"\n    }\n  ],\n  \"Brands\": [\n    {\n      \"logo_url\": \"https://www.sparklecleaners.com/brands/brand1.png\",\n      \"name\": \"EcoClean\"\n    }\n  ]\n}","height":1094.5078569547663,"width":898.3128154038022},"id":"db322ace-fa22-4b5a-8307-a0a3a10f13b5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3580,1120]},{"parameters":{"workflowId":"gNdhCwZEHF538Xzk","mode":"each","options":{"waitForSubWorkflow":true}},"id":"a16139f4-8fc3-4d59-a31f-8bcd66c4b492","name":"getPageExtract","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[780,940]},{"parameters":{"workflowId":"5B0TCmURv285U2TH","mode":"each","options":{"waitForSubWorkflow":true}},"id":"3da5494f-a229-464c-93c6-045e268f7dc2","name":"extractLinks","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[120,580]},{"parameters":{"promptType":"define","text":"=Please extract company info from the following summary:\n\n---\n{{ $json.summary }}\n\nlinks:\n{{ $json.links.join(\"\\n\") }}\n---","hasOutputParser":true},"id":"cf234633-1ded-4cb5-817f-9b1ed5a21903","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2000,240]},{"parameters":{"promptType":"define","text":"=Please extract all reviews from the following summary:\n\n---\n{{ $json.summary }}\n---","hasOutputParser":true},"id":"034ea379-2efd-4fcf-8ec7-0f3e989dfc03","name":"Basic LLM Chain1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2020,980]},{"parameters":{"promptType":"define","text":"=Please extract a list of services from the following summary:\n\n---\n{{ $json.summary }}\n---","hasOutputParser":true},"id":"ab0e3035-fd65-46c2-98b7-3ee041b37b3f","name":"Basic LLM Chain3","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1980,-580]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"getPageExtract","type":"main","index":0},{"node":"extractLinks","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser2","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser2","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain3","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser3","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser3":{"ai_outputParser":[[{"node":"Basic LLM Chain3","type":"ai_outputParser","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser3","type":"ai_outputParser","index":0}]]},"Split Out":{"main":[[{"node":"keep mailto and tel","type":"main","index":0},{"node":"keep third party (include social media)","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"keep mailto and tel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"keep third party (include social media)":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Rename Keys1","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Rename Keys1":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"getPageExtract":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Basic LLM Chain3","type":"main","index":0},{"node":"Basic LLM Chain1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"extractLinks":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Basic LLM Chain1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Basic LLM Chain3":{"main":[[{"node":"Merge2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"849aad5d-8bc3-4723-bacd-a7f128a39df9","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}