archive/n8n-flows/fetchHtml.json
{"createdAt":"2024-05-05T00:14:17.112Z","updatedAt":"2024-05-05T03:29:08.000Z","id":"2OibNKcZZNkGE5ez","name":"fetchHtml","active":false,"nodes":[{"parameters":{},"id":"7f3b9e47-ed7e-49e3-9773-9db7a43a1388","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,260]},{"parameters":{"resource":"object","operation":"get","bucketName":"project-insite-cache2","objectName":"={{ encodeURIComponent($json.gcsPath) }}","alt":"media","getParameters":{},"encryptionHeaders":{}},"id":"645c676a-8fb1-4bee-a38f-e9402d40b4ea","name":"Google Cloud Storage","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[1720,400],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"41bd1ba9-a0ab-4707-8381-f31da4288f41","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"04c3ecc4-5e87-4254-bca5-6f73c5c0febc","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,400]},{"parameters":{},"id":"685f9028-aa0e-4225-a1ee-2bb2485a4f48","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[400,460]},{"parameters":{"resource":"object","operation":"create","bucketName":"project-insite-cache2","objectName":"={{ $('add gcs path').item.json.gcsPath }}","createData":{},"createQuery":{},"encryptionHeaders":{}},"id":"205f14b4-b155-420e-a247-c82a1ebb08fc","name":"Google Cloud Storage1","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[3380,260],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}}},{"parameters":{"operation":"compress","outputFormat":"gzip","fileName":"data"},"id":"dcd2f961-8a3b-4fc1-84e1-f4f886af6af8","name":"Compression","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[3160,260]},{"parameters":{"assignments":{"assignments":[{"id":"9afd8ed3-f458-4e7f-bc5c-21d27bc7b78a","name":"html","value":"={{ $('get scrapingbee').item.json.data }}","type":"string"}]},"options":{}},"id":"96d916ed-2eb9-4b20-a8d5-1c41bced81f8","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3600,260]},{"parameters":{"assignments":{"assignments":[{"id":"33e1e669-7cd5-494a-b014-c3e5d079d3c1","name":"html","value":"={{ $json.html }}","type":"string"}]},"options":{}},"id":"91760104-dad8-4800-9c33-7a0a79405d64","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3320,480]},{"parameters":{},"id":"282e9f50-b699-43db-be05-9b1dbbf86c47","name":"Compression1","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[2200,480]},{"parameters":{"operation":"text","binaryPropertyName":"file_0","destinationKey":"html","options":{}},"id":"99aa83cf-4af2-43b3-9a84-6b35c0fa59d2","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2420,480]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"2f1f8ece-3028-4a85-b1d9-f26fb08d04ff","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1000,400]},{"parameters":{"assignments":{"assignments":[{"id":"829bc788-0a06-436a-ac6f-7eb32ed22a64","name":"gcsPath","value":"={{ encodeURIComponent($json.site) + \"/_\" + $json.fragment + \".html.gz\" }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e5bea938-deec-4eff-9245-a2e45ae999a0","name":"add gcs path","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1400,420]},{"parameters":{"url":"https://app.scrapingbee.com/api/v1/","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"block_resources","value":"false"},{"name":"url","value":"={{ $('add gcs path').item.json.url }}"},{"name":"wait","value":"5000"}]},"options":{}},"id":"d4ad8313-7525-4251-9c1e-64c85e1829f7","name":"get scrapingbee","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,260],"credentials":{"httpQueryAuth":{"id":"DUtrZkSW3ntrsh0n","name":"ScrapingBee API Key"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"919b0a79-6975-4c93-8ed9-fae652f95911","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"58d9f246-fd24-43ab-a3b5-8e6f92381270","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2440,260]},{"parameters":{"operation":"toText","sourceProperty":"data","options":{}},"id":"e65df88d-ee89-4e55-bc5d-d4860210a134","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2940,260]},{"parameters":{"assignments":{"assignments":[{"id":"5a97c65c-a09f-4173-9185-0c6768235a70","name":"data","value":"","type":"string"}]},"options":{}},"id":"6db9309c-b88f-4600-8bf8-dab2b49f88b0","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2680,200]},{"parameters":{"assignments":{"assignments":[{"id":"94b6c706-38be-40ff-b3f8-7b2f06462b4e","name":"url","value":"https://www.canocompletecleaning.com/2residential-cleaning","type":"string"},{"id":"7b2b540f-f7cf-40c7-8c0e-119c6a8fe68d","name":"site","value":"https://www.canocompletecleaning.com/","type":"string"}]},"options":{}},"id":"cb2a1f93-ba29-431e-83dc-9a4c27a02ff0","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[620,260]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Cloud Storage":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"get scrapingbee","type":"main","index":0}],[{"node":"Compression1","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Google Cloud Storage1","type":"main","index":0}]]},"Google Cloud Storage1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Compression1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"add gcs path","type":"main","index":0}]]},"add gcs path":{"main":[[{"node":"Google Cloud Storage","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"get scrapingbee":{"main":[[{"node":"If1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Compression","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"validateParams","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c86f6475-b4dd-4e88-a80b-650cc200e1ad","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}