archive/n8n-flows/getPageExtract.json
{"createdAt":"2024-05-05T03:40:08.347Z","updatedAt":"2024-05-05T05:38:16.000Z","id":"gNdhCwZEHF538Xzk","name":"getPageExtract","active":false,"nodes":[{"parameters":{},"id":"40dd3646-fd18-44a7-b4a3-0742f767bbc0","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,360]},{"parameters":{"assignments":{"assignments":[{"id":"568caac3-d0f8-4393-b0bb-b746756e16b1","name":"url","value":"https://in-southflorida.com/rug-cleaning","type":"string"},{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://in-southflorida.com/","type":"string"}]},"options":{}},"id":"89d83439-9e27-4e9c-b1bc-5d8deb7cfcd1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[820,360]},{"parameters":{},"id":"83e75a0c-743c-4451-b4cc-41286052d2c2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[520,600]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"b14d6f01-41ed-4cad-b10b-686f64aaac56","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1060,580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"13b22d17-28e1-4a03-8fc1-1ae4edaf4a7a","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc66c1c6-2e20-4ec5-8283-7a1f18146048","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,580]},{"parameters":{"assignments":{"assignments":[{"id":"41ce726b-19a8-4cd1-8acd-8980a8901a9d","name":"site","value":"={{ $('validateParams').item.json.site }}","type":"string"},{"id":"50d75694-83fa-4ed7-b5e7-ecb979416b5b","name":"url","value":"={{ $('validateParams').item.json.url }}","type":"string"}]},"options":{}},"id":"e439a92e-2cbf-4ce6-8e31-84baabd7379c","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2100,560]},{"parameters":{"options":{}},"id":"bf39cba7-e5b1-40a1-a703-c26ed83762d2","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2860,760],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{"promptType":"define","text":"=### Instructions\nThe following is text from a business website.\n\nPlease summarize it, making sure to extract the following information if present:\n- business name\n- business email\n- business phone\n- business social media links\n- business address (street, city, state, zip)\n- services provided\n- any reviews (include reviewer name, review text, rating)\n- anything unique about the business (what's their USP?)\n\n### Data\n---\n{{ $json[\"text\"] }}\n---\n\n\n### Summary"},"id":"a634a1ce-ba46-4e04-9768-357ad70cfd13","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2840,560]},{"parameters":{"assignments":{"assignments":[{"id":"c1394a6a-14ee-43d0-b059-b179f5d476f2","name":"gcsPath","value":"={{ encodeURIComponent($json.site) + \"/_\" + $json.fragment + \".summary.txt\" }}","type":"string"}]},"options":{}},"id":"ad775fd9-2657-430b-8679-be243d8b82b7","name":"add gcs path","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1280,580]},{"parameters":{"resource":"object","operation":"get","bucketName":"project-insite-cache2","objectName":"={{ encodeURIComponent($json.gcsPath) }}","alt":"media","getParameters":{},"encryptionHeaders":{}},"id":"9220e7f1-3a1d-4881-b484-b1eb4ab4ebaf","name":"Google Cloud Storage","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[1580,580],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"id":"269f907d-c444-4996-ae46-62f67bc418e7","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3440,560]},{"parameters":{"resource":"object","operation":"create","bucketName":"project-insite-cache2","objectName":"={{ $('add gcs path').item.json.gcsPath }}","createData":{},"createQuery":{},"encryptionHeaders":{}},"id":"759cd0ed-53ac-4787-b85c-d874221be170","name":"Google Cloud Storage1","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[3680,560],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"675851f1-2010-4c93-a0b0-e88f1146ab43","name":"summary","value":"={{ $('Edit Fields4').item.json.text }}","type":"string"}]},"options":{}},"id":"eab86b9f-2ac9-45d9-bdc1-2e5efa3e88cc","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3900,580]},{"parameters":{"operation":"text","destinationKey":"summary","options":{}},"id":"eb0d70a4-5c00-496d-b16d-3f8b5666a00e","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2940,940]},{"parameters":{"assignments":{"assignments":[{"id":"eb2cc8c3-76f3-4ca8-a3c9-a56b762a48e8","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"id":"155ea007-6113-4a7b-a5cb-38fa8f0d813d","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4260,640]},{"parameters":{"workflowId":"KhAVUNVl5FlPRm3v","mode":"each","options":{"waitForSubWorkflow":true}},"id":"cb1684cd-ec1e-499c-8574-568641d948d5","name":"getText","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2300,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"39872f1b-4000-4cd0-990f-4b9c7d5eb02f","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0a8024d6-46a3-41f9-92d9-67b6aef7f4f1","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2520,540]},{"parameters":{"assignments":{"assignments":[{"id":"eda250c9-543e-494d-a1ce-26cc3cec7b1c","name":"text","value":"","type":"string"}]},"options":{}},"id":"1dfac9cc-9a77-4c8f-8a30-76b41cd85dfb","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2940,320]},{"parameters":{"assignments":{"assignments":[{"id":"c7924c1f-73cd-49f8-9dca-c969308380b8","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"4dbe5eed-86ad-4f92-9320-78b752acde44","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3220,560]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"add gcs path","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"getText","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"add gcs path":{"main":[[{"node":"Google Cloud Storage","type":"main","index":0}]]},"Google Cloud Storage":{"main":[[{"node":"If","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Cloud Storage1","type":"main","index":0}]]},"Google Cloud Storage1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"getText":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acc52f4e-c9a9-41e3-bcb2-e71a6d3cc96d","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}