archive/n8n-flows/getSiteExtract.json
{"createdAt":"2024-05-05T04:09:36.006Z","updatedAt":"2024-05-06T14:33:19.000Z","id":"Enl4RE1RaTCUlxno","name":"getSiteExtract","active":false,"nodes":[{"parameters":{},"id":"041a6c64-454a-4632-b4b6-1421fa3e42f6","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[260,400]},{"parameters":{"assignments":{"assignments":[{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://in-southflorida.com/","type":"string"}]},"options":{}},"id":"05415fb9-9d96-441d-8697-b08e046a5b04","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[500,400]},{"parameters":{},"id":"1ba377c9-64c0-4d89-a807-85f3c8bd3ce2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[300,580]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"1ab8531a-4b38-4a6a-81c3-dcfcc2c9375b","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[920,600]},{"parameters":{"assignments":{"assignments":[{"id":"c1394a6a-14ee-43d0-b059-b179f5d476f2","name":"gcsPath","value":"={{ encodeURIComponent($json.site) + \"/summary.txt\" }}","type":"string"}]},"options":{}},"id":"1caff655-8bc3-43ae-b698-cad33d9c0176","name":"add gcs path","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1140,600]},{"parameters":{"resource":"object","operation":"get","bucketName":"project-insite-cache2","objectName":"={{ encodeURIComponent($json.gcsPath) }}","alt":"media","getParameters":{},"encryptionHeaders":{}},"id":"43e379c0-d260-40e9-a24c-c0fb18ab3797","name":"Google Cloud Storage","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[1360,620],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e521e972-d57e-4ec1-b2b5-7e7694cd1029","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"95520ae4-7f1e-4497-b724-b230b06b88a0","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1580,620]},{"parameters":{"assignments":{"assignments":[{"id":"027cc650-750b-481c-8e37-af48f08f6852","name":"site","value":"={{ $('validateParams').item.json.site }}","type":"string"},{"id":"9f86efe0-e0d9-4d5b-9ff3-dab8a93a2201","name":"url","value":"={{ $('validateParams').item.json.url }}","type":"string"}]},"options":{}},"id":"eda4a62e-4e0b-416d-b54b-d2ef9878051a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1860,600]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"21dad264-0bdb-454f-8af4-038f55fcd736","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2380,520]},{"parameters":{"assignments":{"assignments":[{"id":"4260d0ac-e741-4a1e-a6b7-03d96f7b3339","name":"url","value":"={{ $json.links }}","type":"string"},{"id":"b13b2e8a-251d-428d-b31d-0e5c23ebce97","name":"site","value":"={{ $('validateParams').item.json.site }}","type":"string"}]},"options":{}},"id":"ecc69989-c223-4f2a-b7d4-9a5825ab7928","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3420,800]},{"parameters":{"workflowId":"gNdhCwZEHF538Xzk","mode":"each","options":{"waitForSubWorkflow":true}},"id":"ca3a2b33-2aa1-4362-b9d9-6927a552d21a","name":"getPageExtract","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3660,820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"acdc94ae-a5d2-469b-82a8-bc755d792be2","leftValue":"={{ $json.links }}","rightValue":"={{ $('validateParams').item.json.site }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"0611c5b9-2e56-4836-bc47-165b1eae2edf","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[3000,620]},{"parameters":{"options":{}},"id":"42f5174b-e06b-439c-9c89-34a74beebcbd","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3220,620]},{"parameters":{"assignments":{"assignments":[{"id":"afb86e99-92bb-4231-8bf5-adcfc84125c1","name":"summary","value":"={{ $json.summary }}\n\n---\n","type":"string"}]},"options":{}},"id":"928e0765-bc11-4fc0-9c11-2e10699a25e6","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3720,600]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"summary","separateBy":"\n"}]},"options":{}},"id":"054d8bb1-776b-4f73-b56b-850cf56d89d7","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3920,600]},{"parameters":{"options":{}},"id":"16395037-14b3-4e70-8746-cdbbbefea83a","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4120,820],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"id":"35e2fb83-63a8-40e3-b2f1-562064bbd193","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4500,600]},{"parameters":{"resource":"object","operation":"create","bucketName":"project-insite-cache2","objectName":"={{ $('add gcs path').item.json.gcsPath }}","createData":{},"createQuery":{},"encryptionHeaders":{}},"id":"106725cc-8b46-4fd1-b1a7-291552976bd1","name":"Google Cloud Storage1","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[4680,620],"credentials":{"googleCloudStorageOAuth2Api":{"id":"nZQUpUvWvSJjKDeX","name":"gcs - kian@kianmusser.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"5640c76e-b49c-4c25-9e54-cd98ed898c39","name":"summary","value":"={{ $('Basic LLM Chain').item.json.text }}","type":"string"}]},"options":{}},"id":"e50ba784-759c-4a40-91d4-62fd718f9da8","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4900,620]},{"parameters":{"assignments":{"assignments":[{"id":"9574f529-c242-4cc3-841c-46f885738cec","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"id":"91f32a9e-9b91-4328-8199-2b8164c723fa","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5140,1000]},{"parameters":{"operation":"text","destinationKey":"summary","options":{}},"id":"12aea2e3-a39e-4926-bcbc-1f39ae4681d0","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2280,1100]},{"parameters":{"workflowId":"6uVd9DBXf8hI4Cn6","mode":"each","options":{"waitForSubWorkflow":true}},"id":"e623781e-74e5-4907-8fe1-b3f72e962023","name":"getSiteLinks","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2160,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"27caf613-f02c-4d57-9a61-d862f5f034cc","leftValue":"={{ $json.summary }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2e0df640-8ef1-40b7-9f19-83e4a13cdb1f","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[3460,600]},{"parameters":{"assignments":{"assignments":[{"id":"929ac4aa-3924-418f-a584-6bc8d93acc24","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"d717a61b-23df-4163-b903-8b0257d397a3","name":"url","value":"={{ $json.site }}","type":"string"}]},"options":{}},"id":"c6986e37-97ca-4014-9a37-4cf46eceae4a","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[740,600]},{"parameters":{"promptType":"define","text":"=### Instructions\nThe following are summaries of pages from a business website.\n\nPlease summarize them, making sure to include any information (if provided) such as:\n- business name\n- business phone\n- business email\n- business social media links\n- business address (street, city, state, zip)\n- services provided\n- reviews (including name of reviewer, review, and rating)\n- anything unique about the business (their USP)\n\n### Data\n\n---\n\n{{ $json.concatenated_summary }}\n\n### Summary"},"id":"8d1c3e0a-1618-41af-b712-00714292bbda","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4120,600]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"add gcs path","type":"main","index":0}]]},"add gcs path":{"main":[[{"node":"Google Cloud Storage","type":"main","index":0}]]},"Google Cloud Storage":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"getSiteLinks","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"getPageExtract","type":"main","index":0}]]},"getPageExtract":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Google Cloud Storage1","type":"main","index":0}]]},"Google Cloud Storage1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"getSiteLinks":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"404c659e-bcef-4f5d-937b-05c10052c0f6","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}