archive/n8n-flows/getSiteLinks.json
{"createdAt":"2024-05-05T05:02:46.716Z","updatedAt":"2024-05-05T05:07:48.000Z","id":"6uVd9DBXf8hI4Cn6","name":"getSiteLinks","active":false,"nodes":[{"parameters":{},"id":"9b1ae68c-49e8-429c-ac06-7d5d59f6b2d3","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[660,300]},{"parameters":{"assignments":{"assignments":[{"id":"568caac3-d0f8-4393-b0bb-b746756e16b1","name":"url","value":"https://www.canocompletecleaning.com/","type":"string"},{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://www.canocompletecleaning.com/","type":"string"}]},"options":{}},"id":"56ac96e9-2fc0-498f-b7e8-f3d167869848","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[960,300]},{"parameters":{},"id":"560464ce-3feb-482a-9171-64d39ceb473a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[660,540]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"e33dbd1b-e001-47cd-a526-835dfd0d8826","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1200,520]},{"parameters":{"workflowId":"5B0TCmURv285U2TH","mode":"each","options":{"waitForSubWorkflow":true}},"id":"3005982d-a94b-4714-8b47-c33947f10a2a","name":"extractLinks","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1680,420]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"5ece3506-08f0-4771-a5e5-2e27bf955f64","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1900,420]},{"parameters":{"assignments":{"assignments":[{"id":"e815bf38-0842-49b0-8bbe-b7de421823d1","name":"links","value":"={{ $json.url }}","type":"string"}]},"options":{}},"id":"a5fbfe9c-dcbd-4318-95eb-26a86cc677bc","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1760,660]},{"parameters":{},"id":"ad1ea0b1-e3ab-449f-8f1d-e95fc5b7a696","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2180,440]},{"parameters":{},"id":"6bc00a14-802e-4e50-aed2-c3a1bd72b7ac","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2400,440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"acdc94ae-a5d2-469b-82a8-bc755d792be2","leftValue":"={{ $json.links }}","rightValue":"={{ $('validateParams').item.json.site }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"c2fcd41a-c375-4f51-89e2-e63ab03b20e1","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2620,440]},{"parameters":{"options":{}},"id":"17a38fd4-cf08-4533-97d8-98391941ca4e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2840,440]},{"parameters":{"workflowId":"5B0TCmURv285U2TH","mode":"each","options":{"waitForSubWorkflow":true}},"id":"1983e0f1-de03-4ad1-b909-05b455cf87b2","name":"extractLinks1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3320,660]},{"parameters":{"assignments":{"assignments":[{"id":"f94dc6ce-5713-48d0-8c25-caa007aaf676","name":"url","value":"={{ $json.links }}","type":"string"},{"id":"4ea3ca37-e4b3-4f4f-9147-7643944a4cf5","name":"site","value":"={{ $('validateParams').item.json.site }}","type":"string"}]},"options":{}},"id":"4a4ae36a-b72e-4184-8bcc-622776b54d15","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3060,580]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"cd3a651d-e7fe-43db-9536-2a834d29bf57","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3040,400]},{"parameters":{},"id":"d25df766-497c-4f63-8126-3cac80166d81","name":"Remove Duplicates1","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[3260,400]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"id":"5dc4affd-a4dd-4807-aee8-de81ebb78dd8","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3480,400]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"extractLinks":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Filter","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"extractLinks","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"extractLinks1","type":"main","index":0}]]},"extractLinks1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a7af2f3-7787-4b67-879d-93e18b94baa7","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}