archive/n8n-flows/getText.json
{"createdAt":"2024-05-05T03:33:01.471Z","updatedAt":"2024-05-05T05:32:45.000Z","id":"KhAVUNVl5FlPRm3v","name":"getText","active":false,"nodes":[{"parameters":{},"id":"2a85c144-4e83-42ff-bde6-5640db548529","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"assignments":{"assignments":[{"id":"568caac3-d0f8-4393-b0bb-b746756e16b1","name":"url","value":"https://in-southflorida.com/rug-cleaning/","type":"string"},{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://in-southflorida.com/","type":"string"}]},"options":{}},"id":"c37cd9c0-de42-47d2-9c01-79b09459ea79","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[500,300]},{"parameters":{},"id":"2262344d-4b24-4b36-b264-32d49f0d8008","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[200,540]},{"parameters":{"workflowId":"2OibNKcZZNkGE5ez","mode":"each","options":{"waitForSubWorkflow":true}},"id":"839f48af-2651-4aff-b83d-6253219b8da9","name":"fetchHtml","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[940,520]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"39cc1b6d-3f9c-4ac7-b58d-cdd7fee327c1","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[740,520]},{"parameters":{"method":"POST","url":"http://localhost:5000/get_text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"618b0b78-c03c-4b44-ac4b-fb398ebf6b8e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,520]},{"parameters":{"operation":"toText","sourceProperty":"html","options":{}},"id":"904231f4-e93c-48ec-aae9-02112815a30b","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1380,520]},{"parameters":{"assignments":{"assignments":[{"id":"787fe047-9b9d-43c4-af24-fbdca46bed9a","name":"text","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"ec396a82-a8b0-406d-9e03-d27ff618c302","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1800,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"62e46794-a5cf-4002-8223-78f69ae23dd0","leftValue":"={{ $json.html }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8ea95aaa-4c32-4e24-aec6-47edb8a59a30","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,540]},{"parameters":{"assignments":{"assignments":[{"id":"2161b6a3-2cc5-45e4-a3a7-e476b0b95e9f","name":"data","value":"","type":"string"}]},"options":{}},"id":"c6e6343b-6e25-4044-ab5f-b1f10e4e3ee0","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1460,720]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"fetchHtml","type":"main","index":0}]]},"fetchHtml":{"main":[[{"node":"If","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"If":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e060adc8-cd94-447a-89ea-ca35b30a2bfb","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}