archive/n8n-flows/mqtt - reqTxt.json
{"createdAt":"2024-05-14T04:52:38.877Z","updatedAt":"2024-05-17T13:41:13.000Z","id":"pu5lDmew0P2HtGrI","name":"mqtt - reqTxt","active":false,"nodes":[{"parameters":{"method":"POST","url":"http://localhost:5000/get_text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"d573e30f-1be4-463d-b1d7-629a7b968f22","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,360]},{"parameters":{"operation":"toText","sourceProperty":"message.html","options":{}},"id":"db0d6bc7-0a2d-434a-b07d-3dec3c14a6f4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1300,360]},{"parameters":{"assignments":{"assignments":[{"id":"787fe047-9b9d-43c4-af24-fbdca46bed9a","name":"txt","value":"={{ $json.data }}","type":"string"},{"id":"358b905e-bc90-4eed-8077-af8a36dbcc98","name":"url","value":"={{ $('MQTT Trigger').item.json.message.url }}","type":"string"},{"id":"e4594418-d303-4c83-82b8-744cdd78e2ab","name":"site","value":"={{ $('MQTT Trigger').item.json.message.site }}","type":"string"}]},"options":{}},"id":"936e0074-dc7d-4c7d-ad00-d698f9c6d2d1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1800,360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"62e46794-a5cf-4002-8223-78f69ae23dd0","leftValue":"={{ $json.message.html }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"95c6e1d9-f0f7-4296-8c47-ea068d70e0e5","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,380]},{"parameters":{"assignments":{"assignments":[{"id":"2161b6a3-2cc5-45e4-a3a7-e476b0b95e9f","name":"data","value":"","type":"string"}]},"options":{}},"id":"1ac55109-b5ba-439b-b092-3daebfdc6fcd","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1440,600]},{"parameters":{"topics":"/insite/+/reqTxt","options":{"jsonParseBody":true}},"id":"e4e02515-9502-4887-8eb7-50f9f6001845","name":"MQTT Trigger","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[760,380],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"topic":"={{ $('MQTT Trigger').item.json.message.cb }}","options":{}},"id":"3ebe1962-559c-456a-8993-004f3de23f44","name":"MQTT","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[2020,360],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"MQTT Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"MQTT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c2b47a6-4bb9-4680-bb87-47dcf14811a4","triggerCount":1,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}