archive/n8n-flows/mqtt - cache.json
{"createdAt":"2024-05-14T03:49:13.998Z","updatedAt":"2024-05-17T13:41:13.000Z","id":"U70yIZEKH7ahThEB","name":"mqtt - cache","active":false,"nodes":[{"parameters":{"topics":"/insite/cache/get/#","options":{"jsonParseBody":true}},"id":"7dd2ccf3-2669-422d-afe1-30d85a645551","name":"MQTT Trigger","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[420,400],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"topic":"={{ $('MQTT Trigger').item.json.message.cbErr }}","options":{}},"id":"6db27e2b-bc81-42a9-a707-a8bb7c568844","name":"MQTT","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1700,560],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"operation":"get","propertyName":"=data","key":"={{ $json.key }}","keyType":"string","options":{}},"id":"9f899916-c362-475b-9cd6-2ca18bba0964","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1000,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d520de33-df92-4d7f-974e-99b765843153","name":"key","value":"=insite_cache_{{ $json.topic.replace(\"/insite/cache/get/\", \"\") }}","type":"string"},{"id":"45ffc27d-de82-472f-9cc8-9fb0ee636c1a","name":"cacheTopic","value":"={{ $json.topic.replace(\"/insite/cache/get/\", \"/insite/cache/set/\") }}","type":"string"}]},"options":{}},"id":"ab47e2af-fe0d-42cd-8a90-557a80943c12","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[780,400]},{"parameters":{"topics":"/insite/cache/set/#","options":{"jsonParseBody":true}},"id":"705e5762-97f3-4222-879c-32280ad52daa","name":"MQTT Trigger1","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[400,840],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ae01fce4-635f-4675-9dcf-4de467634cd4","name":"originalMessage","value":"={{ $('MQTT Trigger').item.json.message.message }}","type":"object"},{"id":"aaaacd51-cec1-495e-a8a3-acbb4176d1ed","name":"cacheTopic","value":"={{ $('Edit Fields').item.json.cacheTopic }}","type":"string"}]},"options":{}},"id":"8214efe3-e4db-47fd-a806-9056d81ed5b7","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,560]},{"parameters":{"operation":"toJson","options":{}},"id":"c859b1c2-3deb-44a3-a1cf-15e24ba9b26b","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[640,840]},{"parameters":{"operation":"compress","fileName":"data"},"id":"96f9fcf3-182b-4b94-9f33-d71083977aef","name":"Compression","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[860,840]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"4045b490-d2e5-4e95-9c64-f5d2f15f21c9","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1080,840]},{"parameters":{"operation":"set","key":"=insite_cache_{{ $('MQTT Trigger1').item.json.topic.replace(\"/insite/cache/set/\", \"\") }}","value":"={{ $json.data }}","keyType":"string"},"id":"c84ee9c2-622a-4462-97e9-1457c7544bda","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1300,840],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dbebda9d-35d6-45cf-9703-b48d662fdf43","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ec901734-6aa7-43f3-810e-09b443fedf6b","name":"if found","type":"n8n-nodes-base.if","typeVersion":2,"position":[1220,400]},{"parameters":{"topic":"={{ $('MQTT Trigger').item.json.message.cbOk }}","options":{}},"id":"77599d81-d121-4f71-871d-2355c4ddfb42","name":"MQTT1","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[2320,320],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"id":"28080473-f86a-4918-a100-a3b4306745d1","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1500,320]},{"parameters":{},"id":"abe857ac-5374-4caa-bfcd-e57d6302b473","name":"Compression1","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[1720,320]},{"parameters":{"operation":"fromJson","binaryPropertyName":"file_0","options":{}},"id":"046cd6d5-5f40-47c8-aa19-f667d87e45f7","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1920,320]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.data[0].message }}","options":{}},"id":"6f8433cd-4787-4736-a787-e5d9268ddf0d","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2160,320]}],"connections":{"MQTT Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis":{"main":[[{"node":"if found","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"MQTT","type":"main","index":0}]]},"MQTT Trigger1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Compression","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"if found":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Compression1","type":"main","index":0}]]},"Compression1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"MQTT1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3da4981c-4db3-4b05-a00e-ea3a6a7ba719","triggerCount":2,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}