archive/n8n-flows/mqtt - reqLinks.json
{"createdAt":"2024-05-14T05:00:31.730Z","updatedAt":"2024-05-17T13:41:12.000Z","id":"JjsaleF0hOKnEUo2","name":"mqtt - reqLinks","active":false,"nodes":[{"parameters":{"topics":"/insite/+/reqLinks","options":{"jsonParseBody":true}},"id":"b01b33ae-a0e8-4b39-b8c7-25149d5900f6","name":"MQTT Trigger","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[640,920],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"topic":"={{ $('MQTT Trigger').item.json.message.cb }}","options":{}},"id":"efcc58d0-7c58-4484-a602-1b5e427f28ba","name":"MQTT","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[3480,1020],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"message.html","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"73976a9b-d140-46e8-ac69-5b02cf7528a5","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1300,920]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"abdc74a2-761f-4297-a465-15e49a2a5ebd","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1520,920]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7ceda4c0-f7e3-4021-8615-6ceb35725eae","leftValue":"={{ $json.links }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"336d1456-adbb-4aef-894a-42d903753dc3","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1780,920]},{"parameters":{},"id":"2aa5d7df-ac04-45c9-a590-05d7efc492f1","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2000,920]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"id":"5aaae91f-c866-45a4-8656-e67a783a6bd4","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3100,880]},{"parameters":{},"id":"49991678-36e4-4ff9-a56c-802b6d0129b1","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2700,880]},{"parameters":{"assignments":{"assignments":[{"id":"87c4ba7d-c62b-4356-be23-e410bb4b97ee","name":"links","value":"={{ $('MQTT Trigger').item.json.site + $json.links.slice(1) }}","type":"string"}]},"options":{}},"id":"95a4823e-8308-4114-9343-aa3ca3755be9","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2520,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e8eb14bc-2484-471e-8ab3-78adb79117bb","leftValue":"={{ $json.links }}","rightValue":"/","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"555740a1-2343-440e-b19e-a2adf56dfdaa","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2220,920]},{"parameters":{"assignments":{"assignments":[{"id":"78c87ccd-6e38-40bd-a73c-9ce68034a4ad","name":"links","value":"={{ $json.links }}","type":"array"},{"id":"d0f28b29-1392-41bf-8f20-9350cdc2b106","name":"url","value":"={{ $('MQTT Trigger').item.json.message.url }}","type":"string"},{"id":"20e03599-c3b7-4d57-9918-d2c4ff23a2a7","name":"site","value":"={{ $('MQTT Trigger').item.json.message.site }}","type":"string"}]},"options":{}},"id":"fd666827-9688-4148-9510-fe196fb17f06","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3280,1020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4c5793ab-00e8-4439-8eff-8f4d0a0f0b07","leftValue":"={{ $json.message.html }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"11e6613b-bac6-4d0d-886f-17e624245b0d","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,940]},{"parameters":{"assignments":{"assignments":[{"id":"78c87ccd-6e38-40bd-a73c-9ce68034a4ad","name":"links","value":"[]","type":"array"}]},"options":{}},"id":"f3f85d20-57da-4c68-b23a-0ee607872641","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2480,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cb96f253-ebb6-4a83-91e2-4ec4f15fc272","leftValue":"={{ $json.links }}","rightValue":"#","operator":{"type":"string","operation":"notStartsWith"}}],"combinator":"and"},"options":{}},"id":"eaee7b63-a0f5-4dcc-b2e0-5642d410d375","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2920,880]}],"connections":{"MQTT Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"If2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields4":{"main":[[{"node":"MQTT","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTML","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eebfff43-6f2c-4880-bfcd-c2ec277304ee","triggerCount":1,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}