archive/n8n-flows/PageSpeed Insights.json
{"createdAt":"2024-05-17T13:48:49.184Z","updatedAt":"2024-05-17T13:54:54.000Z","id":"BuLwXmCknryE1mMw","name":"PageSpeed Insights","active":false,"nodes":[{"parameters":{},"id":"bc272fff-319c-4b43-9dc5-0528f722bd95","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[340,160]},{"parameters":{"assignments":{"assignments":[{"id":"f0981483-d123-4044-a75c-19a5f65304f5","name":"site","value":"https://in-southflorida.com/","type":"string"}]},"options":{}},"id":"f4038e25-77aa-4a81-9f94-083123a51737","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[560,160]},{"parameters":{"assignments":{"assignments":[{"id":"c34bba15-ec6a-4b65-9984-ff0e0d47b3a6","name":"site","value":"={{ $json.site }}","type":"string"}]},"options":{}},"id":"baabda7d-2c16-4148-887d-ee8dfe6cb8af","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[800,320]},{"parameters":{"url":"=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.site)}}&strategy=mobile&category=BEST_PRACTICES&category=PERFORMANCE&category=ACCESSIBILITY&category=SEO","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"ce2756be-6b4e-433e-9474-2eb5542f4d5c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,320],"credentials":{"httpQueryAuth":{"id":"9FPd5m5OMubFw6gW","name":"gCloud api key default-gas-project"}}},{"parameters":{"assignments":{"assignments":[{"id":"ae9fc367-1d01-4dca-a8d9-67f8a1d5d662","name":"performance","value":"={{ $json.lighthouseResult.categories.performance.score }}","type":"number"},{"id":"9c534191-babf-4525-9c38-a248ffcab071","name":"accessibility","value":"={{ $json.lighthouseResult.categories.accessibility.score }}","type":"number"},{"id":"1e675b1f-fbb4-44ca-8771-2629c803203b","name":"bestPractices","value":"={{ $json.lighthouseResult.categories['best-practices'].score }}","type":"number"},{"id":"19399f19-7a2e-4671-8472-94f42531d273","name":"seo","value":"={{ $json.lighthouseResult.categories.seo.score }}","type":"number"}]},"options":{}},"id":"340d4b7b-dd42-4fca-9e29-52ce36e2029a","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1240,320]},{"parameters":{},"id":"4f3d3a07-d4e8-41e7-a44c-544a9655639c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[320,380]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a60f9efc-75d7-4dbd-a41b-20117edd5269","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}