archive/n8n-flows/Prompt Gemini and Output Structured.json
{"createdAt":"2024-05-17T11:06:29.946Z","updatedAt":"2024-05-17T13:41:04.000Z","id":"7JL2WuDexZkbOonY","name":"Prompt Gemini and Output Structured","active":false,"nodes":[{"parameters":{"options":{}},"id":"8ac02ff9-7f5e-4d7a-95b1-91de0b76c214","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1520,640],"credentials":{"googlePalmApi":{"id":"lDhgQTlQVg0OESu7","name":"gemini - kian@kianmusser.com"}}},{"parameters":{},"id":"1048bb30-7695-440e-a121-d6fad1169dc3","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1720,640]},{"parameters":{"jsonSchema":"={{ JSON.stringify($('validate params').item.json.body.schema) }}"},"id":"d3bf8e41-d268-40a1-8eab-17b2cfcb319f","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[1820,860]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.output) }}","options":{}},"id":"d12c0684-696c-4fc5-8cc5-d320c758ead9","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1900,420]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (!$input.item.json.body.prompt) {\n  throw new Error(\"please define a prompt\");\n}\n\nif (!$input.item.json.body.schema) {\n  throw new Error(\"please define a schema\");\n}\n\nreturn $input.item;"},"id":"996a7f6c-c834-49e3-a03d-32bc6e872c16","name":"validate params","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,420]},{"parameters":{"httpMethod":"POST","path":"5b8d67a6-1868-4507-b18c-431993281055","responseMode":"responseNode","options":{}},"id":"4d721ec9-3d64-4498-8203-e14d6b870979","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[920,420],"webhookId":"5b8d67a6-1868-4507-b18c-431993281055"},{"parameters":{"promptType":"define","text":"={{ $json.body.prompt }}","hasOutputParser":true},"id":"0bdf0b38-6cee-45a9-92bf-c294e8d21845","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1520,420]}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"validate params":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"validate params","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03393955-eb95-45a4-b9c1-eeb426445e58","triggerCount":1,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}