archive/n8n-flows/redis - newSite.json
{"createdAt":"2024-05-14T02:08:25.292Z","updatedAt":"2024-05-14T16:00:28.000Z","id":"XVNkXKbdw9hOY44D","name":"redis - newSite","active":false,"nodes":[{"parameters":{"topics":"/insite/newSite","options":{"jsonParseBody":true}},"id":"7e7aade9-7018-4c7a-b66a-b11b2512ed0f","name":"MQTT Trigger","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[660,380],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"topic":"=/insite/{{ encodeURIComponent($('MQTT Trigger').item.json.message.url) }}/reqHtml","options":{}},"id":"0a0413ac-7df5-43aa-b655-25d7fdabe37b","name":"MQTT","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1180,380],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ba49fb6e-2dc3-474f-8f70-0357ded5ed98","name":"url","value":"={{ $json.message.url }}","type":"string"},{"id":"f074e12e-8e9b-4860-9cec-b229f4daf6e8","name":"site","value":"={{ $json.message.url }}","type":"string"},{"id":"bb0d1cac-8030-4293-84bf-eaa07ad7efc7","name":"cb","value":"=/insite/{{encodeURIComponent($json.message.url) + \"/newSiteResHtml\" }}","type":"string"}]},"options":{}},"id":"ae805422-e656-4a53-b2e0-efc1ae8011c7","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[880,380]},{"parameters":{"topics":"/insite/+/newSiteResHtml","options":{"jsonParseBody":true}},"id":"48f56521-15d1-4d66-a8f4-611b19143fad","name":"MQTT Trigger1","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[660,640],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"assignments":{"assignments":[{"id":"20137ce4-ea5f-4278-9cd2-3c93233e49b5","name":"cb","value":"={{ $json.topic.replace(\"/newSiteResHtml\", \"/newSiteResTxt\") }}","type":"string"},{"id":"829b43b2-5deb-416b-9353-c6d414f717d2","name":"html","value":"={{ $json.message.html }}","type":"string"},{"id":"d16df336-60be-4ae0-82fb-edc589d9c302","name":"url","value":"={{ $json.message.url }}","type":"string"},{"id":"2f5c5efe-8602-4a2a-bb6f-4341614e813c","name":"site","value":"={{ $json.message.site }}","type":"string"}]},"options":{}},"id":"55a09bdf-4942-411a-b937-314f55052efe","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[880,640]},{"parameters":{"topic":"={{ $('MQTT Trigger1').item.json.topic.replace(\"/newSiteResHtml\", \"/reqTxt\") }}","options":{}},"id":"1eb5c213-704d-46a6-b81b-ece2766bfa76","name":"MQTT1","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1100,640],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"assignments":{"assignments":[{"id":"20137ce4-ea5f-4278-9cd2-3c93233e49b5","name":"cb","value":"={{ $json.topic.replace(\"/newSiteResHtml\", \"/newSiteResLinks\") }}","type":"string"},{"id":"829b43b2-5deb-416b-9353-c6d414f717d2","name":"html","value":"={{ $json.message.html }}","type":"string"},{"id":"d16df336-60be-4ae0-82fb-edc589d9c302","name":"url","value":"={{ $json.message.url }}","type":"string"},{"id":"2f5c5efe-8602-4a2a-bb6f-4341614e813c","name":"site","value":"={{ $json.message.site }}","type":"string"}]},"options":{}},"id":"aa8f26b8-191f-418f-98d4-53d5b2b03c5f","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[880,860]},{"parameters":{"topic":"={{ $('MQTT Trigger1').item.json.topic.replace(\"/newSiteResHtml\", \"/reqLinks\") }}","options":{}},"id":"971a3786-4c89-47b0-a464-dd827ee405ef","name":"MQTT2","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1100,860],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"topics":"/insite/+/newSiteResLinks","options":{"jsonParseBody":true}},"id":"2337f0d0-60b3-47a0-80d6-d67bee016d95","name":"MQTT Trigger2","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[660,1120],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"fieldToSplitOut":"message.links","options":{}},"id":"8024c0b0-69b0-4ead-b0be-3e7e211e3b65","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,1120]},{"parameters":{"topic":"={{ $('MQTT Trigger2').item.json.topic.replace(\"/newSiteResLinks\", \"/reqHtml\") }}","options":{}},"id":"6109630d-dca1-4840-8259-6cbff6cc2620","name":"MQTT3","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1540,1120],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2eadc458-168d-4a4f-8ee6-6ecf0943e1fd","leftValue":"={{ $json['message.links'] }}","rightValue":"={{ $('MQTT Trigger2').item.json.message.site }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"577ad523-02b1-44b9-9e56-503852cfb955","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1120,1120]},{"parameters":{"assignments":{"assignments":[{"id":"ca455cac-4d54-4c9a-951e-c7b34a8a6092","name":"url","value":"={{ $json['message.links'] }}","type":"string"},{"id":"be4767ce-b8dd-41e0-8f01-7fc2551b2ce7","name":"site","value":"={{ $('MQTT Trigger2').item.json.message.site }}","type":"string"},{"id":"21bb5fb0-4166-4244-916e-ad10b2b77707","name":"cb","value":"={{ $('MQTT Trigger2').item.json.topic.replace(\"/newSiteResLinks\", \"/newSiteResLinks2\") }}","type":"string"}]},"options":{}},"id":"96472c9c-bafb-4779-ba6e-283520802e02","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1340,1120]},{"parameters":{"channels":"/insite/newSite","options":{"jsonParseBody":true}},"id":"047cdd11-5689-4d7a-a17f-64f9527e2df8","name":"/insite/newSite","type":"n8n-nodes-base.redisTrigger","typeVersion":1,"position":[660,140],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}}],"connections":{"MQTT Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MQTT","type":"main","index":0}]]},"MQTT Trigger1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"MQTT1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"MQTT2","type":"main","index":0}]]},"MQTT Trigger2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"MQTT3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ab8d64b-d407-48e8-aa54-d4aadd8e0931","triggerCount":3,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}