archive/n8n-flows/redis - main.json
{"createdAt":"2024-05-13T16:15:01.542Z","updatedAt":"2024-05-14T16:21:58.000Z","id":"brlQilUcBlMOnjuA","name":"redis - main","active":false,"nodes":[{"parameters":{},"id":"f8bfa610-5d1e-4354-ac9d-3daa588469bb","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[820,400]},{"parameters":{"assignments":{"assignments":[{"id":"d0e2e920-6f03-4c78-971a-3bc24f70944a","name":"url","value":"https://in-southflorida.com/","type":"string"},{"id":"99e4561e-8e37-4fb2-8291-da29ff5e2311","name":"key","value":"=req:{{ $json.uuid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"74242325-9123-4da7-b240-b94f2525dcb9","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1260,400]},{"parameters":{"operation":"set","key":"={{ $json.key }}","value":"={{ $json.url }}","keyType":"string"},"id":"eb7f763e-3b26-4890-ad5d-2bd9677912bf","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1460,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"id":"23bb7a9a-cf69-4e88-b8a0-94fdd81c0637","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1040,400]},{"parameters":{"operation":"push","list":"service:fetchHtml:queue","messageData":"={{ JSON.stringify({req: $json.uuid, site: $json.url, url: $json.url}) }}"},"id":"8363c166-4161-40af-a45f-7cb028aa2f3d","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1680,400],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Crypto":[{"json":{"uuid":"464a7ee8-749c-4673-a21c-7e145c0d7f2a"}}]},"versionId":"06e7f407-a8bf-469e-a16b-b5f2d6808103","triggerCount":1,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}