archive/n8n-flows/redis - fetchHtml.json
{"createdAt":"2024-05-14T02:32:03.510Z","updatedAt":"2024-05-14T16:32:11.000Z","id":"JcvKHM78i3cpK0Cm","name":"redis - fetchHtml","active":false,"nodes":[{"parameters":{"topics":"/insite/+/reqHtml","options":{"jsonParseBody":true}},"id":"123c83a9-19fa-4abb-bf7f-68af9c0f4df4","name":"MQTT Trigger","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[-480,700],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}},"disabled":true},{"parameters":{"topic":"={{ $json.topic }}","options":{}},"id":"8faeb981-fae6-4b06-83ac-95ba557bf79d","name":"MQTT1","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[200,700],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"9c86d9fa-280d-4d5c-b8e1-f7cc7ee720fc","name":"topic","value":"=/insite/cache/get/raw_{{ encodeURIComponent($json.message.url) }}","type":"string"},{"id":"570facf0-0157-4e91-adc1-12ee777a1dbd","name":"cbOk","value":"={{ $json.message.cb }}","type":"string"},{"id":"35fe0deb-02b5-4773-ac62-9e88f2475819","name":"cbErr","value":"=/insite/{{ encodeURIComponent($json.message.url) }}/reqHtmlNonCached","type":"string"},{"id":"a8ae69d7-4878-45dc-ad2e-dbafab41970d","name":"message","value":"={{ $json.message }}","type":"object"}]},"options":{}},"id":"3315f9d5-8c31-4f0a-8179-6fd2908eb682","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-20,700],"disabled":true},{"parameters":{"topics":"/insite/+/reqHtmlNonCached","options":{"jsonParseBody":true}},"id":"0ebd23ee-e4a0-4879-a976-03a55449d06d","name":"MQTT Trigger1","type":"n8n-nodes-base.mqttTrigger","typeVersion":1,"position":[-360,1100],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}},"disabled":true},{"parameters":{"url":"https://app.scrapingbee.com/api/v1/","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"block_resources","value":"false"},{"name":"url","value":"={{ $json.data.url }}"},{"name":"wait","value":"1000"}]},"options":{}},"id":"772062c2-2d41-4cab-97f3-3d8ec66619ea","name":"get scrapingbee1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,320],"retryOnFail":false,"credentials":{"httpQueryAuth":{"id":"DUtrZkSW3ntrsh0n","name":"ScrapingBee API Key"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"919b0a79-6975-4c93-8ed9-fae652f95911","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b3690a07-f542-44d3-af34-3c7c2eb24034","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[1480,320]},{"parameters":{"assignments":{"assignments":[{"id":"5a97c65c-a09f-4173-9185-0c6768235a70","name":"data","value":"","type":"string"}]},"options":{}},"id":"ae52c4f7-6da2-419a-8344-40df11fdfb81","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1720,200]},{"parameters":{"assignments":{"assignments":[{"id":"9eebb5cd-4a86-47c2-b927-d5311ea8cb0b","name":"html","value":"={{ $json.data }}","type":"string"},{"id":"59713ddd-d03f-4784-bdbd-0a0f1f4710d1","name":"url","value":"={{ $('Redis1').item.json.data.url }}","type":"string"},{"id":"d743832e-7ca3-4cdd-9aa7-f5676a6ce99e","name":"site","value":"={{ $('Redis1').item.json.data.site }}","type":"string"},{"id":"ebf08b1c-eff2-4f80-a3d9-1a247488eea2","name":"req","value":"={{ $('Redis1').item.json.data.req }}","type":"string"}]},"options":{}},"id":"454640bd-fa42-46c3-bce0-55d87bdf1ba9","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1960,340]},{"parameters":{"topic":"={{ $('MQTT Trigger1').item.json.message.cacheTopic }}","options":{}},"id":"cd618195-f5f8-4847-8f7b-32334170bf14","name":"MQTT2","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1220,960],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}},"disabled":true},{"parameters":{"topic":"={{ $('MQTT Trigger1').item.json.message.originalMessage.cb }}","options":{}},"id":"811fb348-f1c1-4c9f-b3b8-b46c31423b43","name":"MQTT3","type":"n8n-nodes-base.mqtt","typeVersion":1,"position":[1220,1160],"credentials":{"mqtt":{"id":"HZJ8GmLDKv2iHBia","name":"MQTT account"}},"disabled":true},{"parameters":{},"id":"a3433241-9bed-47f7-8b95-46a40b783361","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,360]},{"parameters":{"operation":"incr","key":"service:fetchHtml:running"},"id":"ebac94e7-8674-4c4a-bb15-f8dd529aa867","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-260,360],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4d0398ec-f2d6-4343-901d-859a5a0f9a6a","leftValue":"={{ $json['service:fetchHtml:running'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"de383325-9610-429d-80bc-f306b2bea24b","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-40,360]},{"parameters":{"operation":"pop","list":"service:fetchHtml:queue","propertyName":"data","options":{}},"id":"4385c8c6-3b18-46f8-9cf4-647ba2fde441","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[440,340],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d5a01ef9-d8cf-44b7-a227-43179faa494c","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"be616ae3-ee7a-4538-bd55-6c0c279d42c3","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[620,340]},{"parameters":{},"id":"262a7146-871c-4b09-ad19-49c5be4b6425","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[220,500]},{"parameters":{"operation":"set","key":"=cache:{{ $json.req }}:{{ encodeURIComponent($json.url) }}","value":"={{ JSON.stringify({html: $json.html}) }}","keyType":"hash"},"id":"973d7a49-7022-4d97-afed-62d1105388b4","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2180,340],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"service:fetchHtml:running"},"id":"15b5236e-aa1d-4904-902a-6bedf8f7c7fe","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2600,700],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"data","key":"=cache:{{ $json.req }}:{{ encodeURIComponent($json.url) }}","keyType":"hash","options":{}},"id":"e9a6ac4e-f853-4a17-82c9-17f2e9cfb37d","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[900,280],"credentials":{"redis":{"id":"uXHiarIrk7Fz8npf","name":"Redis account"}}}],"connections":{"MQTT Trigger":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"MQTT1","type":"main","index":0}]]},"get scrapingbee1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"MQTT Trigger1":{"main":[[]]},"Edit Fields6":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis4","type":"main","index":0}],[{"node":"Redis3","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Redis3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"738ab6d9-3bba-4691-adca-49991fb6f6ec","triggerCount":2,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}