archive/n8n-flows/test extract images.json
{"createdAt":"2024-05-05T22:00:14.189Z","updatedAt":"2024-05-13T14:27:49.000Z","id":"AJUE2DmILXusuwHK","name":"test extract images","active":false,"nodes":[{"parameters":{},"id":"a056a495-ea27-48cd-a5cc-381f615bf754","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,220]},{"parameters":{"assignments":{"assignments":[{"id":"a6ac76b3-3468-4d33-9f26-6985a695033b","name":"site","value":"https://in-southflorida.com/","type":"string"},{"id":"0369370c-7035-4b21-ad8e-f5110564706a","name":"companyName","value":"Atlantic1 Cleaning Services","type":"string"}]},"options":{}},"id":"c0c2f6c5-67a5-494a-9b08-27b8afefa3c3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[300,220]},{"parameters":{},"id":"2d571543-2f35-4c16-99b9-a8de2b18e05e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[40,440]},{"parameters":{"workflowId":"PUAPjOoTYfmuLFQZ","mode":"each","options":{"waitForSubWorkflow":true}},"id":"db7abc58-29bb-498d-93b8-849af0c8bf80","name":"validateParams","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[900,420]},{"parameters":{"assignments":{"assignments":[{"id":"929ac4aa-3924-418f-a584-6bc8d93acc24","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"d717a61b-23df-4163-b903-8b0257d397a3","name":"url","value":"={{ $json.site }}","type":"string"}]},"options":{}},"id":"be74e5b5-a7d8-475f-8c1e-689c057ea724","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[720,420]},{"parameters":{"workflowId":"6uVd9DBXf8hI4Cn6","mode":"each","options":{"waitForSubWorkflow":true}},"id":"a7b19e4e-0d85-4049-82ab-d18902596c33","name":"getSiteLinks","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1140,420]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"52b69b35-a1f2-44ee-b3cc-4870052fed13","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"455cb62e-acf8-42ba-949f-2f812fa59a93","leftValue":"={{ $json.links }}","rightValue":"={{ $('validateParams').item.json.site }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"111bc9f8-f87c-47a3-ad39-a7081e284ac0","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1580,420]},{"parameters":{"options":{}},"id":"8a7d9d71-a5b1-486b-b0bb-d4f3135c2b3b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1800,420]},{"parameters":{"workflowId":"2OibNKcZZNkGE5ez","mode":"each","options":{"waitForSubWorkflow":true}},"id":"1695c566-b711-43a6-bd59-4956bf616e78","name":"fetchHtml","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2440,660]},{"parameters":{"assignments":{"assignments":[{"id":"02047820-fa35-4bd6-83bf-ae943e78bd45","name":"url","value":"={{ $json.links }}","type":"string"},{"id":"e8f58430-c107-4ad1-bea5-39aba5635e61","name":"site","value":"={{ $('validateParams').item.json.site }}","type":"string"}]},"options":{}},"id":"45fb008d-d127-4a0f-90fb-fd81274c331e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2240,660]},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"html","extractionValues":{"values":[{"key":"imageSrc","cssSelector":"img","returnValue":"attribute","attribute":"src","returnArray":true}]},"options":{}},"id":"5b138683-6c0c-42ef-b174-6092b41fd8f7","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2660,660]},{"parameters":{},"id":"df9ed0d5-c598-4372-9a3e-c5a9dc4b3de8","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2860,360]},{"parameters":{"fieldToSplitOut":"imageSrc","options":{}},"id":"636fc2ab-1415-456f-b47f-d625ce25040b","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2880,660],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"db8eb1b3-009a-4103-95c0-71b22022d127","leftValue":"={{ $json.imageSrc }}","rightValue":"http","operator":{"type":"string","operation":"notStartsWith"}}],"combinator":"and"},"options":{}},"id":"f31ded91-003a-458b-9847-af4b69b2f8df","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[3340,660]},{"parameters":{"assignments":{"assignments":[{"id":"0bc2718b-3d26-400a-8f9a-ad01e7e065d5","name":"imageSrc","value":"={{ ($('Loop Over Items').item.json.links + \"/\" + $json.imageSrc).replaceAll(/\\/\\/+/g, \"/\").replace(/(https?:)/, \"$1/\") }}","type":"string"}]},"options":{}},"id":"e29bcc54-f4aa-45e7-af83-9042b7d1a69c","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3560,600]},{"parameters":{},"id":"05e8e00b-9fa4-492a-9047-95f854830b62","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3760,640]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"imageSrc"}]},"options":{}},"id":"1686d4cc-0d14-40c7-a43d-e6746f54a145","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3980,640]},{"parameters":{},"id":"db45fa72-06a9-4367-a7e1-0e7651441971","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2200,360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"677c9bf3-134b-4d9a-a6c1-e14e68b3939f","leftValue":"={{ $json.imageSrc }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cc198338-dee1-4527-9bde-91b6841c31ba","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3100,660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"41eae035-522d-4ed4-a6e2-3e8fd80ee8b6","leftValue":"={{ $json.imageSrc }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4e401b6d-0be4-497c-a4ef-56ac02e8a291","name":"Filter2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2420,360]},{"parameters":{"fieldToSplitOut":"imageSrc","options":{}},"id":"37b7b60a-8dbf-40e1-b832-000b288a9a6d","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2640,360]},{"parameters":{"workflowId":"jvbDBtAanzNlXo1E","mode":"each","options":{"waitForSubWorkflow":true}},"id":"fb8e74df-2738-46b2-ac1a-7511aa26e487","name":"callGeminiProVision","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4100,120]},{"parameters":{"assignments":{"assignments":[{"id":"6897576f-ba4b-4ec3-9dd2-382e5565f584","name":"imageUrl","value":"={{ $json.imageSrc }}","type":"string"},{"id":"7a8376a7-9015-4c7c-ad6a-87a0216d0af5","name":"prompt","value":"=Is this website a logo for \"{{ $('Edit Fields').item.json.companyName }}\"?","type":"string"}]},"options":{}},"id":"e5dc55ef-cbcf-439c-bdd9-180b3cb76e4a","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3880,120]},{"parameters":{"assignments":{"assignments":[{"id":"fdfab82c-0cce-46f9-8404-96e04377cd76","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"4b494a4f-1f2b-4294-985f-4b8c2fac402b","name":"imageUrl","value":"={{ $('Edit Fields4').item.json.imageUrl }}","type":"string"}]},"options":{}},"id":"db74cea6-441f-465f-8123-0e1291c23989","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4320,120]},{"parameters":{"options":{}},"id":"3180f16a-fde9-41d4-9cbc-93d75f8779ce","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3440,40]},{"parameters":{},"id":"ee2545b0-1ebe-4db4-a81e-9a80743f7d93","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3700,-240]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"validateParams","type":"main","index":0}]]},"validateParams":{"main":[[{"node":"getSiteLinks","type":"main","index":0}]]},"getSiteLinks":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"fetchHtml":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"fetchHtml","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"callGeminiProVision","type":"main","index":0}]]},"callGeminiProVision":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"444c1867-2867-410e-ac76-8bc172248be8","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}