archive/n8n-flows/validateParams.json
{"createdAt":"2024-05-05T03:17:08.683Z","updatedAt":"2024-05-05T03:24:49.000Z","id":"PUAPjOoTYfmuLFQZ","name":"validateParams","active":false,"nodes":[{"parameters":{},"id":"02ec1551-eed7-4981-90e0-52f110d15e30","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[500,420]},{"parameters":{"assignments":{"assignments":[{"id":"48352050-d6c5-4349-8249-a48956b1b4d3","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"42f9a610-02ef-4fae-8490-48b1ab222a89","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{}},"id":"6d88415c-6579-4335-a35f-3c041f8056a6","name":"set url","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1120,400]},{"parameters":{"errorMessage":"please make sure both \"url\" and \"site\" are set"},"id":"9821d5a4-ad58-4bd2-a0d5-ea48fb519572","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1580,580]},{"parameters":{},"id":"e9d9431b-2558-4faf-b48c-fa107673d5fa","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[500,220]},{"parameters":{"assignments":{"assignments":[{"id":"faa86381-fec9-419d-a31c-7a81ecef96a7","name":"url","value":"https://www.canocompletecleaning.com/","type":"string"},{"id":"c540b205-a7e4-4447-ba7b-edd1aa788005","name":"site","value":"https://www.canocompletecleaning.com/","type":"string"}]},"options":{}},"id":"7af06154-6aa2-4ecd-8a1b-04410d0cda7b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[720,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bc2f1697-45d6-4510-a447-c7eace2cc2a1","leftValue":"={{ $json.url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1282b9ac-2b76-451b-8aab-7a304362b807","leftValue":"={{ $json.site }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"88ec3814-bea2-4f31-a068-b745fa1f222a","name":"ensure url and site are present","type":"n8n-nodes-base.if","typeVersion":2,"position":[1320,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ca413db8-b25d-4803-9386-e5d6df18d130","leftValue":"={{ $json.site }}","rightValue":"/","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"id":"b7b02236-ac2f-446f-a54a-039cee9e509a","name":"ensure site ends with \"/\"","type":"n8n-nodes-base.if","typeVersion":2,"position":[1540,380]},{"parameters":{"errorMessage":"please make sure that \"site\" ends with a slash"},"id":"dbb67f32-88ba-42d5-9d15-f50723a77763","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1780,580]},{"parameters":{"assignments":{"assignments":[{"id":"f254af15-4dc1-4a33-a628-59640dd0b900","name":"fragment","value":"={{ $json.url.replace($json.site, \"\") }}","type":"string"},{"id":"0b1bca7e-dc19-4412-8008-90477d856666","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"55978fa5-ad99-43ce-8a40-fadf3a977ff9","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{}},"id":"d44aab10-d2a6-4ac8-a459-9461d7155b63","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2040,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"40d5fdd1-e37a-4c8d-b4d0-6197167012d3","leftValue":"={{ $json.url }}","rightValue":"={{ $json.site }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"63a902c6-3b42-4159-8262-8cca9b2794da","name":"ensure url is a sub path of site","type":"n8n-nodes-base.if","typeVersion":2,"position":[1760,360]},{"parameters":{"errorMessage":"\"url\" must contain \"site\""},"id":"5909f307-d821-4254-83bb-e2fb6d21dc3a","name":"Stop and Error2","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1960,580]}],"connections":{"set url":{"main":[[{"node":"ensure url and site are present","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"set url","type":"main","index":0}]]},"ensure url and site are present":{"main":[[{"node":"ensure site ends with \"/\"","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"ensure site ends with \"/\"":{"main":[[{"node":"ensure url is a sub path of site","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"ensure url is a sub path of site":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Stop and Error2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"set url","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"916ce6f0-ac42-4eb5-b341-9de2b795b907","triggerCount":0,"tags":[{"createdAt":"2024-05-02T14:44:58.922Z","updatedAt":"2024-05-02T14:44:58.922Z","id":"93Tla7jmYw7BwnIS","name":"Project Insite"}]}